<div class="wrap-content container" id="container">
  <!-- start: PAGE TITLE -->
  <section id="page-title">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="mainTitle"><%= t(:new_question)%></h1>
        <span class="mainDescription"><%= t(:please_enter_the_question)%></span>
      </div>
      <ol class="breadcrumb">
        <li>
          <span></span>
        </li>
        <li class="active">
          <span></span>
        </li>
      </ol>
    </div>
  </section>
  <div class="container-fluid container-fullw bg-white">
    <div class="row">
      <div class="col-md-12">
        <h5 class="over-title"> <span class="text-bold"></span></h5>
        <div class="panel panel-white">
          <div class="panel-body">
            <%= form_for(@question) do |f| %>
            <% if @question.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

              <ul>
                <% @question.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
            <% end %>

            <div class="row">
              <div class="form-group col-xs-4">
                <%= f.label :title %><br>
                <%= f.text_field :title , :class => "form-control"%>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-4">
                <%= f.label :content %><br>
                <%= f.text_area :content, :class => "form-control" %>
              </div>
            </div>

            <div class="row top30">
              <div class="form-group col-xs-1 pull-left">
                <%= content_tag :button, :type => :submit, :class => "btn btn-o btn-primary" do %>
                <i class="icon-ok bigger-110"></i>
                <%=t :submit%>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
