<% @random_string = SecureRandom.hex%>
<li class="messages-item padding-5 <%= @bg%>" id='<%=@random_string %>'>
  <%= link_to 'questions/view_content/'+ question.id.to_s+'?rnd='+@random_string,:remote => true  do%>
  <%= image_tag question.user.profile.avatar(:thumb), :class => "messages-item-avatar bordered border-primary"%>
  <span class="messages-item-from"><%= question.title%></span>
  <div class="messages-item-time">
    <span class="text">

    </span>
  </div>
  <span class="messages-item-subject"></span>
  <span class="messages-item-content"><%= truncate(question.content, :length => 20)%></span>

  <%end%>
  <% if question.user_id == current_user.id%>
  <div class="messages-item-time" style="margin-top:10px">
    <%= link_to edit_question_path(question) do%>
      <i class="fa fa-edit" style="vertical-align: middle;"></i>
    <%end%>
  </div>
  <%end%>
</li>
