<div class="wrap-content container padding-right-0" id="container">
  <div class="col-md-12 padding-right-0 padding-left-0" >
    <div class=" col-md-4 padding-right-0 padding-left-0 " >
      <div class="tabbable padding-right-0 padding-left-0 ">
        <ul id="myTab1" class="nav nav-tabs">
          <li class="">
            <a href="#myTab1_example1" data-toggle="tab" aria-expanded="false">
              <i class="fa fa-clock-o"></i>
            </a>
          </li>
          <li class="active">
            <a href="#myTab1_example2" data-toggle="tab" aria-expanded="false">
              <i class="fa fa-trophy"></i>
            </a>
          </li>
          <li class="">
            <a href="#myTab1_example3" data-toggle="tab" aria-expanded="true">
              <i class="fa fa-plug"></i>
            </a>
          </li>
          <li class="">
            <a href="#myTab1_example4" data-toggle="tab" aria-expanded="true">
              <i class="fa fa-search"></i>
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane fade" id="myTab1_example1">
              <p class="margin-top-10"><i class="fa fa-hand-o-left" style='vertical-align:middle'></i> <%=t :questions_you_asked%></p>
              <hr />
              <ul class="list-group">
                <%= link_to new_question_path do%>
                <li class="list-group-item">
                  <i class="fa fa-plus"></i> <%=t :add_new_question%>
                </li>
                <%end%>
              </ul>
              <%= render partial: 'questions/my_questions'%>
            </div>

            <div class="tab-pane fade active in" id="myTab1_example2">
                <p class="margin-top-10"><i class="fa fa-hand-o-left" style='vertical-align:middle'></i> <%=t :popular_questions%></p>
              <hr />

              <ul class="messages-list relative top-0">
                <% for q in Question.all%>
                <%= render partial: 'questions/item', locals: {question: q}%>
                <%end%>
              </ul>
            </div>

            <div class="tab-pane fade" id="myTab1_example3">
                <p class="margin-top-10"><i class="fa fa-hand-o-left" style='vertical-align:middle'></i> <%=t :questions_related_to%></p>
              <hr />
            </div>
            <div class="tab-pane fade " id="myTab1_example4">
              <div>
                <%= form_tag '/questions/search/1',:method => :get,:remote => :true, :class => "navbar-form" do%>
                <div class="form-group">
                  <%= text_field_tag :q, '' , {:class=>"form-control", :id => "nav-search-input", :placeholder => "#{t(:search)}"}%>

                  <button class="btn search-button" type="submit">
                    <i class="ti-search"></i>
                  </button>

                </div>
                <%end%>
              </div>
              <div id='search-results'></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 padding-right-0 padding-left-0" >
        <div class="panel panel-white no-radius" id="visits">
          <div class="panel-heading border-light">
            <h4 class="panel-title"></h4>
            <ul class="panel-heading-tabs border-light">
              <li class="panel-tools">
                <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="ti-reload"></i></a>
              </li>
            </ul>
          </div>
          <div class="panel-body">

              <div id='question-detail'>

                <% if !@question.blank?%>
                <% @page = 1%>
                <%= render(:partial => 'questions/detail', locals: {question: @question, page:@page }) %>
                <%end%>
              </div>

          </div>

        </div>
      </div>
    </div>
  </div>
