<div class="wrap-content container padding-right-0" id="container">
  <div class="col-md-12 padding-right-0 padding-left-0" >
    <div class=" col-md-4 padding-right-0 padding-left-0 " >
      <div class="tabbable padding-right-0 padding-left-0 ">
        <ul id="myTab1" class="nav nav-tabs">
          <li class="">
            <a href="#my_questions" data-toggle="tab" aria-expanded="false">
              <i class="fa fa-chain"></i>
            </a>
          </li>
          <li class="active">
            <a href="#top_questions" data-toggle="tab" aria-expanded="false">
              <i class="fa fa-trophy"></i>
            </a>
          </li>
          <li class="">
            <a href="#related_questions" data-toggle="tab" aria-expanded="true">
              <i class="fa fa-plug"></i>
            </a>
          </li>
          <li class="">
            <a href="#search_questions" data-toggle="tab" aria-expanded="true">
              <i class="fa fa-search"></i>
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane fade" id="my_questions">
              <p class="margin-top-10"><i class="fa fa-hand-o-left" style='vertical-align:middle'></i> <%=t :questions_you_asked%></p>
              <hr />
              <% if grant_access('ask_questions', current_user)%>
              <ul class="list-group">
                <%= link_to new_question_path do%>
                <li class="list-group-item">
                  <i class="fa fa-plus"></i> <%=t :add_new_question%>
                </li>
                <%end%>
              </ul>
              <%end%>
              <%= render partial: 'questions/my_questions'%>
            </div>

            <div class="tab-pane fade active in" id="top_questions">
              <span><i class="fa fa-hand-o-left" style='vertical-align:middle'></i> <%=t :top_questions%></span>
              <ul class="messages-list relative top-0">
                <% @j = 0%>
                <% for i in Followship.where('followable_type = ?', 'Question').group('followable_id').order('count_id desc').count('id') %>
                  <% if @j < 10%>
                  <%= render partial: 'questions/item', locals: {question: Question.find(i[0])}%>
                  <%end%>
                  <% @j = @j+1%>
                <%end%>
              </ul>
            </div>

            <div class="tab-pane fade" id="related_questions">
              <p class="margin-top-10"><i class="fa fa-hand-o-left" style='vertical-align:middle'></i><%=t :related_questions%></p>
              <hr style="margin-top:0px; margin-bottom:0px;">
              <ul class="messages-list relative top-0">
                <% for sug in Suggestion.where(user_id: current_user.id, suggested_type: 'Question')%>
                <% @q =  sug.suggested_type.classify.constantize.find_by_id(sug.suggested_id)%>
                <% if !@q.blank?%>
                <%= render partial: 'questions/item', locals: {question: @q}%>
                <%end%>
                <%end%>
              </ul>
            </div>

            <div class="tab-pane fade " id="search_questions">
              <div>
                <%= form_tag '/questions/search/1',:method => :get,:remote => :true, :class => "navbar-form" do%>
                <div class="form-group">
                  <%= text_field_tag :q, '' , {:class=>"form-control", :id => "nav-search-input", :placeholder => "#{t(:search)}"}%>

                  <button class="btn search-button" type="submit">
                    <i class="ti-search"></i>
                  </button>

                </div>
                <%end%>
              </div>
              <div id='search-results'></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 padding-right-0 padding-left-0" >
        <div class="panel panel-white no-radius" id="visits">
          <div class="panel-heading border-light">
            <h4 class="panel-title"></h4>
            <ul class="panel-heading-tabs border-light">
              <li class="panel-tools">
                <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="ti-reload"></i></a>
              </li>
            </ul>
          </div>
          <div class="panel-body">

              <div id='question-detail'>

                <% if !@question.blank?%>
                <% @page = 1%>
                <%= render(:partial => 'questions/detail', locals: {question: @question, page:@page }) %>
                <%end%>
              </div>

          </div>

        </div>
      </div>
    </div>
  </div>
