<div id='pr-list'>
  <% @participation = Participation.where(event_id: event.id, user_id: current_user.id).first%>
  <% if !@participation.blank? && @participation.role == 1%>
  <% @admin = true%>
  <%else%>
  <% @admin = false%>
  <%end%>
  <div class="col-md-12 padding-left-0 padding-right-0">
    <% for participation in event.participations%>
        <% case participation.role%>
        <%when 1%>
          <span class='label label-info'>
        <%when 2%>
          <span class='label label-warning'>
        <%when 3%>
          <span class='label label-success'>
        <%end%>

        <% if @admin && event.i_type == 1 && participation.role == 2%>
        <%= link_to "/participations/change_stat/#{participation.id}", :method => :get, :remote => true do %>
        <i class='fa fa-check' style="color:white; vertical-align: middle"></i>
        <%end%>
        <%end%>


        <% if @admin %>
        <%= link_to participation_path(participation), :method => :delete, :remote => true do %>
        <i class='fa fa-times' style="color:white; vertical-align: middle"></i>
        <%end%>

        <% if @admin && participation.role != 1 %>
        <%= link_to "/participations/make_admin/#{participation.id}", :method => :get, :remote => true do %>
        <i class='fa fa-user-secret' style="color:white; vertical-align: middle"></i>
        <%end%>
        <%end%>

        <%end%>
        <%= link_to participation.user.profile do%>
        <span style='color: white'>  <%= participation.user.profile.name%> <%= participation.user.profile.surename%></span>
        <%end%>
      </span>
      <%end%>
  </div>
</div>
