<div class="modal fade" id="cropmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%=t :select_crop_area%></h4>
      </div>
      <div class="modal-body centering center">
        <div id='cropimage' class="centering"></div>
      </div>
      <div class="modal-footer">
		<%= form_for @channel, :remote => true do |f| %>
		  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h, :ratio, :caller] %>
		    <%= f.hidden_field attribute, :id => attribute %>
		  <% end %>
  		  <%= content_tag :button, :type => :submit, :class => "btn btn-info" do %>
			<i class="icon-ok bigger-110"></i>
			<%=t :submit%>
		  <% end %>
		<% end %>
      </div>
    </div>
  </div>
</div>
