<% involvement = Involvement.where(channel_id: channel.id, user_id: current_user.id).first%>
<div id='channel-detail' >
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="col-sm-11">
          <div class="col-sm-2">
            <%= image_tag channel.avatar(:thumb), :class => " messages-item-avatar bordered border-primary"%>
          </div>
          <div class="col-sm-10" style='margin-bottom:15px;'>
            <div class="row">
              <%= channel.name%>
            </div>
            <div class="row">
              <%= truncate(channel.description, :length => 20)%>
            </div>
          </div>
        </div>
        <div class="col-sm-1" style='margin-left:0px;'>
          <%= link_to channel_path(channel) do%>
          <i class="fa fa-cog"></i>
          <%end%>
        </div>
      </div>
    </div>
    <hr style='margin-top:20px; margin-bottom:0px;' />
  </div>
  <% if public?(channel) || (!involvement.blank? && involvement.role != 2)%>
  <% @comments = Comment.where(commentable_type: 'Channel', commentable_id: channel.id).last(page*3)%>
  <%= render partial: 'channels/channel_comments', locals: {comments: @comments, channel: channel, page: page}%>
    <%end%>
</div>
