<% @bg = ''%>
<% if !now.blank?%>
<% if  now.id == channel.id %>
<% @bg = 'bg-light-grey'%>
<%end%>
<%end%>
<li class="messages-item padding-5 <%= @bg%>">
  <%= link_to 'channels/view_content/'+ channel.id.to_s,:remote => true  do%>
  <%= image_tag channel.avatar(:thumb), :class => "messages-item-avatar bordered border-primary"%>
  <span class="messages-item-from"><%= channel.name%></span>
  <div class="messages-item-time">
    <span class="text">

    </span>
  </div>
  <span class="messages-item-subject"></span>
  <span class="messages-item-content"><%= truncate(channel.description, :length => 20)%></span>
  <div class="messages-item-time" style="margin-top:17px"></div>
  <%end%>
</li>
