<% @random_string = SecureRandom.hex%>
<% @profile = user.profile%>
<li class="messages-item padding-5 <%= @bg%>" id='<%=@random_string %>'>
  <%= link_to 'profiles/1?profile_id='+ @profile.id.to_s do%>
  <%= image_tag @profile.avatar(:thumb), :class => "messages-item-avatar bordered border-primary"%>
  <span class="messages-item-from"><%= @profile.name%> <%= @profile.surename%></span>
  <div class="messages-item-time">
    <span class="text">

    </span>
  </div>
  <span class="messages-item-subject"></span>
  <span class="messages-item-content"></span>
  <%end%>
  <div class="messages-item-time" style="margin-top:10px">
  </div>
</li>
