<div id='msg-content'>
<div class="email-reader perfect-scrollbar">
  <div>
    <div class="message-actions">
      <ul class="actions no-margin no-padding block pull-right">

          <li class="no-padding">
            <a href="#">
              <%=t :delete %>
            </a>
          </li>
        </ul>
      </div>
      <div class="message-header">
        	<% @sender_profile = message.sender.profile%>
        <%= image_tag @sender_profile.avatar(:thumb), :class => "messages-item-avatar"%>
        <div class="message-time">
          <%= JalaliDate.to_jalali(message.created_at).strftime("%Y/%m/%d")%>
        </div>

        <div class="message-from">
          <%= @sender_profile.name%> <%= @sender_profile.surename%>
        </div>
        <div class="message-to">
          <%=t :to%>
          <% for recipient in Recipient.where(message_id: @message.id)%>
          <% @recipient_profile = User.find_by_id(recipient.user_id).profile%>
           <span><%= link_to @recipient_profile do%><%= @recipient_profile.name%> <%= @recipient_profile.surename%><%end%></span>,
           <%end%>
        </div>
      </div>
      <div class="message-subject">
        <%= message.title%>
      </div>
      <div class="message-content">
        <%= message.content%>
      </div>
    </div>
  </div>
</div>
