<div id= 'list'>
  <div class="col-md-12 ">

    <% profiles.each do |profile| %>
    <div class="col-md-4 ">
      <table class="table no-margin">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td class="center">
              <%= image_tag profile.avatar(:thumb), :class => "img-circle"%>
            </td>
            <td>
              <% if !profile.positions.blank?%>
              <span class="text-small block text-light"><%= t(:last_role)%>: <%= profile.positions.last.role.name%></span>
              <%end%>
              <span><%= profile.name %> <%= profile.surename %></span>
            </td>
            <td class="center">
              <%= link_to "/attendances/add_attendance/1?profile_id=#{profile.id}&article_id=#{article_id}", :method => :get, :remote => true do %>
                <i class='fa fa-plus-square'></i>
              <%end%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <% end %>

  </div>
</div>
