	<script src="/assets/bootstrap-tokenfield.js"></script>
<div class="wrap-content container" id="container">
  <!-- start: PAGE TITLE -->
  <section id="page-title">
    <div class="row">
      <div class="col-sm-8">
        <% if @profile.blank?%>
        <% @profile = Profile.new%>
        <h1 class="mainTitle"><%= t(:new_person)%></h1>
        <%else%>
        <h1 class="mainTitle"><%= t(:edit_person)%></h1>
        <%end%>
        <span class="mainDescription"><%= t(:please_personnel_data)%></span>
      </div>
      <ol class="breadcrumb">
        <li>
          <span></span>
        </li>
        <li class="active">
          <span></span>
        </li>
      </ol>
    </div>
  </section>
  <div class="container-fluid container-fullw bg-white">
    <div class="row">
      <div class="col-md-12">
        <h5 class="over-title"> <span class="text-bold"><%= t(:personal_information)%></span></h5>
        <div class="panel panel-white">
          <div class="panel-body">

            <%= form_for @profile, multipart: true do |f| %>
            <% if @profile.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

              <ul>
                <% @profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
            <% end %>

            <div class="row">
              <div class="form-group col-xs-4">
                * <%= f.label :name %><br>
                <%= f.text_field :name , id: 'name', :class => "form-control", required: '',  oninvalid: "this.setCustomValidity('#{t(:please_enter_data_in_this_field)}')"%>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-4">
                <%= f.label :surename %><br>
                <%= f.text_field :surename, :class => "form-control" , required: '',  oninvalid: "this.setCustomValidity('#{t(:please_enter_data_in_this_field)}')"%>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-4">
                <%= f.label :fathername %><br>
                <%= f.text_field :fathername, :class => "form-control" %>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-4">
                <label><%= f.label :birthdate %></label>
                <br/>
                <% if @profile.id == nil%>
                <% @now = JalaliDate.to_jalali(Time.now)%>
                <%else%>
                <% @now = JalaliDate.to_jalali(@profile.birthdate)%>
                <%end%>
                <%=t :day%><%= select_tag  "ja_birth_dd", options_for_select(1..31, @now.day) %>/
                <%=t :month%><%= select_tag "ja_birth_mm", options_for_select(1..12, @now.month) %>/
                <%=t :year%><%= select_year(@now.year, {:start_year => 1300, :end_year => 1370}, {:name =>"ja_birth_yyyy"}) %>
                <% f.date_select :birthdate ,:class => "col-xs-10 col-sm-5"%>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-4">
                <%= f.label :sex %><br>
                <%= f.select( :sex, sexs, {}, {:class => "form-control"})  %>
                <% f.text_field :surename, :class => "form-control" %>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-4">
                <%= f.label :ssn %><br>
                <%= f.text_field :ssn, :class => "form-control" %>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-4">
                <%= f.label :phonenumber %><br>
                <%= f.text_field :phonenumber, :class => "form-control" %>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-4">
                <%= f.label :mobilenumber %><br>
                <%= f.text_field :mobilenumber, :class => "form-control" %>
              </div>
            </div>


              <div class="form-group ">
                <div class="row">
                  <%= f.label :digest_email ,class: "col-sm-12"%>
                <div class="col-md-4 col-sm-4">
                <%= f.text_field :digest_email, :class => "form-control" %>
                </div>
                <% @confirmation = Confirmation.where(confirmable_type: 'Profile', confirmable_id: @profile.id, confrimable_field: 'digest_email', confrimation_stat: 1).first%>
                <span class="help-inline col-md-4 col-sm-6">
                <% if @confirmation.blank?%>
                <span id='send-confirmation'>
                <i class="fa fa-exclamation-circle text-danger"></i>
                <span class='text-danger'><%=t :not_confirmed%></span>
                 (<%= link_to t(:send_confirmation), '/confirmations/send_confirmation/1?confirmable_type=Profile&confirmable_id=' + @profile.id.to_s + '&confrimable_field=digest_email', remote: true %>)
               </span>
                <%end%>

                </span>
              </div>
            </div>

            <style>
            .ui-helper-hidden-accessible { position: absolute; left:-999em; }
            </style>

            <%=t :tags%><br />
            <% @tags = []%>
						<% if !@profile.user.nil?%>
            <% for tagging in @profile.user.taggings%>
              <% @tags << Tag.find(tagging.tag_id).title%>
            <%end%>
						<%end%>
            <div class="col-xs-6 padding-right-0 margin-top-5 rtl">
                <input type="text"  id="tokenfield" value="<%= @tags.join(',')%>" placeholder="" tabindex="-1" >
            </div>
            <div class="row">
            <input type="hidden" id='tags' name="tags" value="">
          </div>

            <div class="row">
              <div class="form-group col-xs-4">
                <%if !@profile.avatar.blank?%>
                <%= image_tag @profile.avatar(:medium), id: 'avatar',:class => "messages-item-avatar bordered border-primary"%>
                <%else%>
                <img id='avatar'></img>
                <%end%>
                <div class="fileUpload btn btn-o btn-light-purple">
                  <%if @profile.avatar.blank?%>
                  <span><i class="fa fa-camera" style='vertical-align:middle;'></i> <%=t :choose_a_file_for_avatar%>...</span>
                  <%else%>
                  <span><i class="fa fa-camera" style='vertical-align:middle;'></i> <%=t :change_photo%>...</span>
                  <%end%>
                  <%= f.file_field :avatar, class: "upload", onchange: "readURL(this);" %>
                </div>
              </div>
            </div>

            <script>
            function readURL(input) {
              if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                  $('#avatar')
                  .attr('src', e.target.result)
                  .width(120);
                };

                reader.readAsDataURL(input.files[0]);
              }
            }
            </script>

            <div class="row top30">
              <div class="form-group col-xs-1 pull-left">
                <%= content_tag :button, :type => :submit,id: 'subbtn', :class => "btn btn-o btn-primary" do %>
                <i class="icon-ok bigger-110"></i>
                <%=t :submit%>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

$('#tokenfield')

.on('tokenfield:createtoken', function (e) {
    var data = e.attrs.value.split('|')
    $("#tags").val(function() {
    return this.value + ',' +data;
    });
  })


  .on('tokenfield:edittoken', function (e) {
    var data = e.attrs.value.split('|')
    var prev = $("#tags").val().split(',')
    $("#tags").val('');
    for (var i in prev) {
      if (prev[i].toString() !== data.toString()){
        console.log(prev[i]);
        $("#tags").val(function() {
        return this.value + ',' +prev[i];
        });
      }
      }
  })

  .on('tokenfield:removedtoken', function (e) {
    var data = e.attrs.value.split('|')
    var prev = $("#tags").val().split(',')
    $("#tags").val('');
    for (var i in prev) {
      if (prev[i].toString() !== data.toString()){
        console.log(prev[i]);
        $("#tags").val(function() {
        return this.value + ',' +prev[i];
        });
      }
      }
  })





.tokenfield({

  autocomplete: {
    source: function( request, response ) {
        $.ajax({
          url: "/tags/remoteq/1",
          dataType: "jsonp",
          data: {
            q: request.term
          },
          success: function( data ) {
            response( data );
          }
        });
      },
      minLength: 1,
      delay: 30
  },
  showAutocompleteOnFocus: true
})
</script>
