<% @random_string = SecureRandom.hex%>
<li class="messages-item padding-5 <%= @bg%>" id='<%=@random_string %>'>
  <%= link_to 'profiles/view_content/'+ profile.id.to_s+'?rnd='+@random_string,:remote => true  do%>
  <%= image_tag profile.avatar(:thumb), :class => "messages-item-avatar bordered border-primary"%>
  <span class="messages-item-from"><%= profile.name%></span>
  <div class="messages-item-time">
    <span class="text">

    </span>
  </div>
  <span class="messages-item-subject"></span>
  <span class="messages-item-content"><%=  profile.surename%></span>
  <div class="messages-item-time" style="margin-top:17px"></div>
  <%end%>
</li>
