<div id='profile-detail'>
  <% @b = Blocking.where(target_id: current_user.id, blocked_type: 'Profile', blocked_id: @profile.id).first%>
  <% if @b.blank?%>
  <div class="col-md-9 padding-right-0 padding-left-0">
    <div class="tabbable">
      <ul class="nav nav-tabs tab-padding tab-space-3 tab-blue" id="myTab4">
        <li class="active">
          <a data-toggle="tab" href="#panel_overview">
            <%= t(:profile)%>
          </a>
        </li>
        <li >
          <a data-toggle="tab" href="#education">
            <%= t(:education_history)%>
          </a>
        </li>
        <li >
          <a data-toggle="tab" href="#research">
            <%= t(:research_history)%>
          </a>
        </li>
        <li >
          <a data-toggle="tab" href="#honor">
            <%= t(:honors)%>
          </a>
        </li>
        <li >
          <a data-toggle="tab" href="#tag">
            <%= t(:experties)%>
          </a>
        </li>
        <li >
          <a data-toggle="tab" href="#followers">
            <%= t(:followees)%>
          </a>
        </li>
        <li >
          <a data-toggle="tab" href="#followees">
            <%= t(:followers)%>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="panel_overview" class="tab-pane fade in active">
          <div class="row">
            <div class="col-sm-5 col-md-4">
              <div class="user-left">
                <div class="center">
                  <h4><%= @profile.name%> <%= @profile.surename%></h4>

                  <%= render :partial => 'crop'%>

                  <%= render partial: 'friendships/profile_block', locals: {profile: @profile}%>
                  <%= render partial: 'blockings/profile_block', locals: {profile: @profile}%>

                  <div class="col-sm-12" style="margin-top:10px;">
                    <% if @profile.user.id == current_user.id%>
                    <%= link_to edit_profile_path(@profile.id) do %>
                    <button type="button" class="btn btn-dark-grey btn-squared btn-xs">
                      <i class="fa fa-file-pdf-o" style="color: white !important;vertical-align: middle;"></i>&nbsp <%= t(:edit)%> &nbsp
                    </button>
                    <%end%>
                  <%end%>
                  </div>
                  <hr>

                </div>
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th colspan="3"><%= t(:personal_information)%></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= t(:full_name)%></td>
                      <td><%= @profile.name%> <%= @profile.surename%></td>
                    </tr>
                    <% if policy_rule('profile_fathername', current_user, @profile.user)%>
                    <tr>
                      <td><%= t(:fathername)%></td>
                      <td><%= @profile.fathername%></td>
                    </tr>
                    <%end%>
                      <% if policy_rule('profile_sex', current_user, @profile.user)%>
                    <tr>
                      <td><%= t(:sex)%></td>
                      <td><%= @profile.sex%></td>
                    </tr>
                    <%end%>
                    <% if policy_rule('profile_birthdate', current_user, @profile.user)%>
                    <tr>
                      <td><%= t(:birthdate)%></td>
                      <td><span>	<% @jalali = JalaliDate.to_jalali(@profile.birthdate)%>
                        <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%></span></td>
                      </tr>
                      <%end%>
                      <% if policy_rule('profile_ssn', current_user, @profile.user)%>
                      <tr>
                        <td><%= t(:ssn)%></td>
                        <td><%= @profile.ssn%></td>
                      </tr>
                      <%end%>
                      <% if policy_rule('profile_phonenumber', current_user, @profile.user)%>
                      <tr>
                        <td><%= t(:phonenumber)%></td>
                        <td><%= @profile.phonenumber%></td>
                      </tr>
                      <%end%>
                      <% if policy_rule('profile_mobilenumber', current_user, @profile.user)%>
                      <tr>
                        <td><%= t(:mobilenumber)%></td>
                        <td><%= @profile.mobilenumber%></td>
                      </tr>
                      <%end%>

                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-sm-7 col-md-8">

                <div class="panel panel-white" id="activities">
                  <div class="panel-heading border-light">
                    <h4 class="panel-title text-primary"><%= t(:recent_activities)%></h4>
                    <paneltool class="panel-tools" tool-collapse="tool-collapse" tool-refresh="load1" tool-dismiss="tool-dismiss"></paneltool>
                  </div>
                  <div collapse="activities" ng-init="activities=false" class="panel-wrapper">
                    <div class="panel-body">
                      <ul class="timeline-xs margin-top-15 margin-bottom-15">
                        <li class="timeline-item success">
                          <div class="margin-right-15">
                            <div class="text-muted text-small">

                            </div>
                            <p>
                              <a class="text-info" href>
                                <%= @profile.name%> <%= @profile.surename%>
                              </a>
                              برای اولین بار وارد سیستم شد.
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="education" class="tab-pane fade">
            <% if policy_rule('education_all', current_user, @profile.user)%>
            <% @education = Education.new%>
            <%= render partial: 'educations/list', locals: {user: @profile.user}%>
            <% if @profile.user.id == current_user.id%>
              <%= render partial: 'educations/form', locals: {education: @education}%>
            <%end%>
            <%end%>
          </div>
          <div id="research" class="tab-pane fade">
            <% if policy_rule('research_all', current_user, @profile.user)%>
            <% @research = Research.new%>
            <%= render partial: 'researches/list', locals: {user: @profile.user}%>
            <% if @profile.user.id == current_user.id%>
            <%= render partial: 'researches/form', locals: {research: @research}%>
            <%end%>
            <%end%>
          </div>
          <div id="honor" class="tab-pane fade">
            <% if policy_rule('honor_all', current_user, @profile.user)%>
            <% @honor = Honor.new%>
            <%= render partial: 'honors/list', locals: {user: @profile.user}%>
            <% if @profile.user.id == current_user.id%>
            <%= render partial: 'honors/form', locals: {honor: @honor}%>
            <%end%>
            <%end%>
          </div>
          <div id="tag" class="tab-pane fade">
            <% if policy_rule('tag_all', current_user, @profile.user)%>
            <% @tag = Tag.new%>
            <%= render partial: 'tags/list', locals: {user: @profile.user}%>
            <% if @profile.user.id == current_user.id%>
            <%= render partial: 'tags/form', locals: {tag: @tag}%>
            <%end%>
            <%end%>
          </div>
          <div id="followers" class="tab-pane fade">
            <% if policy_rule('followers_all', current_user, @profile.user)%>
            <%= render partial: 'friendships/followers', locals: {user: @profile.user}%>
            <%end%>
          </div>
          <div id="followees" class="tab-pane fade">
            <% if policy_rule('followess_all', current_user, @profile.user)%>
            <%= render partial: 'friendships/followees', locals: {user: @profile.user}%>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    <%else%>

    <%end%>
  </div>
