<p id="notice"><%= notice %></p>

<h1>Listing Seekings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Blog</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seekings.each do |seeking| %>
      <tr>
        <td><%= seeking.user_id %></td>
        <td><%= seeking.blog_id %></td>
        <td><%= link_to 'Show', seeking %></td>
        <td><%= link_to 'Edit', edit_seeking_path(seeking) %></td>
        <td><%= link_to 'Destroy', seeking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seeking', new_seeking_path %>
