<p id="notice"><%= notice %></p>

<p>
  <strong>Lab:</strong>
  <%= @membership.lab_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @membership.user_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @membership.role %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
