<div id='note-comments'>
  <% admin = Seeking.where(blog_id: note.blog.id, role: 1).first.user%>
  <div style='font-size: 10px;'>
    <%=t :number_of_comments%>: (<%= @count = Comment.where(commentable_type: 'Note', commentable_id: note.id).count %>)
  </div>
  <% @page = page + 1%>
  <% if @count > 4%>
  <div class="span12 text-center">  <%= link_to '/notes/view_content/'+ note.id.to_s+'?page='+@page.to_s,:remote => true  do%><i class="fa fa-history"></i> <%=t :pervious_comments%> <%end%></div>
  <%end%>
  <div class="timeline-centered">
    <% @comments = Comment.where(commentable_type: 'Note', commentable_id: note.id).last(page*4)%>
    <% for comment in @comments%>
    <article class="timeline-entry">
      <div class="timeline-entry-inner">
        <div class="timeline-icon">
          <%= image_tag comment.user.profile.avatar(:thumb), :class => "messages-item-avatar bordered border-primary"%>
        </div>
        <div class="timeline-label">
          <h2><%= link_to comment.user.profile do%><%= comment.user.profile.name%> <%= comment.user.profile.surename%><%end%></h2>
          <% if current_user.id == comment.user.id%>
          <a class='xedit-text' href="#" id="cm<%=comment.id%>" data-type="text" data-pk="1" data-url="/comments/xedit/<%= comment.id%>" data-title="Enter username">
            <%= comment.content%>
          </a>
          <script>
          $.fn.editable.defaults.mode = 'inline';
          $.fn.editable.defaults.ajaxOptions = {type: "GET"};
          $(document).ready(function() {
            $("#cm<%=comment.id%>").editable({

            });
          });
          </script>
          <%else%>
          <p><%= comment.content%></p>
          <%end%>
          <% if comment.user.id == current_user.id || admin.id == current_user.id%>
          <div class='trash'>
            <%= link_to '/comments/'+ comment.id.to_s + '?page='+page.to_s, :method => :delete, :remote => true, data: {confirm: "Are you sure?"}  do %>
            <i class="fa fa-trash-o"></i>
            <%end%>
          </div>
          <% end%>

        </div>
      </div>
    </article>
    <%end%>
  </div>
</div>
