<div class="wrap-content container padding-right-0" id="container">
  <div class="container-fluid container-fullw" style="border-bottom: none;">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-white no-radius">
          <div class="panel-heading border-light">
            <div class="row">
              <div class="col-sm-11">
                <span><%=t :wrote_in_blog_named %> <%=link_to "/blogs?blog_id=#{@note.blog.id}" do%><%= @note.blog.title%><%end%>
                  <%=t :by%> <%= User.find_by_id(@note.blog.user_id).profile.name%> <%=  User.find_by_id(@note.blog.user_id).profile.surename%>
                </span>
              </div>
              <div class="col-sm-1">
                <%= link_to edit_note_path(@note), 'data-placement'=>"right", 'data-toggle' => "tooltip", 'title'=>t(:edit) do%>
                <i class="fa fa-edit"></i>
                <%end%>
                <%= link_to "/blogs?blog_id=#{@blog.id}", 'data-placement'=>"right", 'data-toggle' => "tooltip", 'title'=>t(:back) do%>
                <i class="fa fa-mail-reply"></i>
                <%end%>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="panel panel-white">
              <div class="panel-heading">
                <div class="panel-title">
                  <p>
                    <%=raw @note.content %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <%= render partial: 'notes/detail', locals: {note: @note} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
