<div class="container-fluid container-fullw padding-bottom-10">
  <div class="row">
    <div class="col-sm-12">
          <div class="panel panel-white no-radius">
            <div class="panel-heading border-light">
              <h4 class="panel-title"><%=t :write_new_note%></h4>
            </div>
            <div class="panel-body">
              <div class="panel panel-white">
                <div class="panel-heading">
                  <div class="panel-title">
                    <p id="notice"><%= notice %></p>

                    <p>
                      <strong>Content:</strong>
                      <%= @note.content %>
                    </p>

                    <p>
                      <strong>User:</strong>
                      <%= @note.user_id %>
                    </p>

                    <%= link_to 'Edit', edit_note_path(@note) %> |
                    <%= link_to 'Back', notes_path %>
                  </div>
                </div>
                <div class="panel-body">
                  <%= render partial: 'notes/fancy_form'%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
