<%= form_for(@grouping) do |f| %>
  <% if @grouping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grouping.errors.count, "error") %> prohibited this grouping from being saved:</h2>

      <ul>
      <% @grouping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :adder_id %><br>
    <%= f.number_field :adder_id %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.number_field :role %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
