<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @grouping.user_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @grouping.group_id %>
</p>

<p>
  <strong>Adder:</strong>
  <%= @grouping.adder_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @grouping.role %>
</p>

<%= link_to 'Edit', edit_grouping_path(@grouping) %> |
<%= link_to 'Back', groupings_path %>
