<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @accesscontrol.role_id %>
</p>

<p>
  <strong>Create blog:</strong>
  <%= @accesscontrol.create_blog %>
</p>

<p>
  <strong>View blogs:</strong>
  <%= @accesscontrol.view_blogs %>
</p>

<p>
  <strong>Comment on blogs:</strong>
  <%= @accesscontrol.comment_on_blogs %>
</p>

<p>
  <strong>Search blogs:</strong>
  <%= @accesscontrol.search_blogs %>
</p>

<p>
  <strong>Create channel:</strong>
  <%= @accesscontrol.create_channel %>
</p>

<p>
  <strong>View channels:</strong>
  <%= @accesscontrol.view_channels %>
</p>

<p>
  <strong>Join channels:</strong>
  <%= @accesscontrol.join_channels %>
</p>

<p>
  <strong>Search channels:</strong>
  <%= @accesscontrol.search_channels %>
</p>

<p>
  <strong>Create group:</strong>
  <%= @accesscontrol.create_group %>
</p>

<p>
  <strong>View groups:</strong>
  <%= @accesscontrol.view_groups %>
</p>

<p>
  <strong>Join groups:</strong>
  <%= @accesscontrol.join_groups %>
</p>

<p>
  <strong>Comment on groups:</strong>
  <%= @accesscontrol.comment_on_groups %>
</p>

<p>
  <strong>Search groups:</strong>
  <%= @accesscontrol.search_groups %>
</p>

<p>
  <strong>Create event:</strong>
  <%= @accesscontrol.create_event %>
</p>

<p>
  <strong>View events:</strong>
  <%= @accesscontrol.view_events %>
</p>

<p>
  <strong>Join events:</strong>
  <%= @accesscontrol.join_events %>
</p>

<p>
  <strong>Comment on events:</strong>
  <%= @accesscontrol.comment_on_events %>
</p>

<p>
  <strong>Search events:</strong>
  <%= @accesscontrol.search_events %>
</p>

<p>
  <strong>View questions:</strong>
  <%= @accesscontrol.view_questions %>
</p>

<p>
  <strong>Comment on questions:</strong>
  <%= @accesscontrol.comment_on_questions %>
</p>

<p>
  <strong>Ask questions:</strong>
  <%= @accesscontrol.ask_questions %>
</p>

<p>
  <strong>Answer questions:</strong>
  <%= @accesscontrol.answer_questions %>
</p>

<p>
  <strong>Comment on answers:</strong>
  <%= @accesscontrol.comment_on_answers %>
</p>

<p>
  <strong>Create project:</strong>
  <%= @accesscontrol.create_project %>
</p>

<p>
  <strong>View projects:</strong>
  <%= @accesscontrol.view_projects %>
</p>

<p>
  <strong>Search projects:</strong>
  <%= @accesscontrol.search_projects %>
</p>

<p>
  <strong>Create course:</strong>
  <%= @accesscontrol.create_course %>
</p>

<p>
  <strong>View courses:</strong>
  <%= @accesscontrol.view_courses %>
</p>

<p>
  <strong>Search courses:</strong>
  <%= @accesscontrol.search_courses %>
</p>

<p>
  <strong>Create lab:</strong>
  <%= @accesscontrol.create_lab %>
</p>

<p>
  <strong>View labs:</strong>
  <%= @accesscontrol.view_labs %>
</p>

<p>
  <strong>Search labs:</strong>
  <%= @accesscontrol.search_labs %>
</p>

<p>
  <strong>Create good:</strong>
  <%= @accesscontrol.create_good %>
</p>

<p>
  <strong>View goods:</strong>
  <%= @accesscontrol.view_goods %>
</p>

<p>
  <strong>Search goods:</strong>
  <%= @accesscontrol.search_goods %>
</p>

<p>
  <strong>Create research:</strong>
  <%= @accesscontrol.create_research %>
</p>

<p>
  <strong>View researches:</strong>
  <%= @accesscontrol.view_researches %>
</p>

<p>
  <strong>Search researches:</strong>
  <%= @accesscontrol.search_researches %>
</p>

<p>
  <strong>Comment on researches:</strong>
  <%= @accesscontrol.comment_on_researches %>
</p>

<p>
  <strong>Rate researches:</strong>
  <%= @accesscontrol.rate_researches %>
</p>

<p>
  <strong>Create poll:</strong>
  <%= @accesscontrol.create_poll %>
</p>

<p>
  <strong>Take poll:</strong>
  <%= @accesscontrol.take_poll %>
</p>

<p>
  <strong>View profiles:</strong>
  <%= @accesscontrol.view_profiles %>
</p>

<p>
  <strong>Search profiles:</strong>
  <%= @accesscontrol.search_profiles %>
</p>

<%= link_to 'Edit', edit_accesscontrol_path(@accesscontrol) %> |
<%= link_to 'Back', accesscontrols_path %>
