<% admin = Seeking.where(blog_id: blog.id, role: 1).first.user%>

<div class="col-sm-12 margin-top-10">
  <div class="row padding-5">
    <% for note in blog.notes%>
    <div class="alert alert-info">
      <span>
        <%if !note.title.blank?%><%= truncate(note.title, :length => 20)%>
        <%else%>
        <%=t(:without_title)%>
        <%end%>
      </span>
      <span style="color:grey"></span>

      <span class="pull-left">
        <%= link_to note_path(note.id) do %>
        <i class="fa fa-binoculars"></i>
        <%end%>
        <% if admin.id == current_user.id%>
        <%= link_to edit_note_path(note.id) do %>
        <i class="fa fa-edit"></i>
        <%end%>
        <%= link_to note_path(note.id), :method => :delete, data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-trash"></i>
        <%end%>
        <%end%>

      </span>
      <span class="pull-left">
        <span style="margin-left:5px; color:grey; font-size:10px;">	<% @jalali = JalaliDate.to_jalali(note.created_at)%>
          <%=note.created_at.hour%>:<%=note.created_at.min%>   <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%> </span>
          <%= %>
        </span>
      </div>
      <%end%>
    </div>
  </div>
