<p id="notice"><%= notice %></p>

<h1>Listing Pollsections</h1>

<table>
  <thead>
    <tr>
      <th>Poll</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pollsections.each do |pollsection| %>
      <tr>
        <td><%= pollsection.poll_id %></td>
        <td><%= pollsection.question %></td>
        <td><%= link_to 'Show', pollsection %></td>
        <td><%= link_to 'Edit', edit_pollsection_path(pollsection) %></td>
        <td><%= link_to 'Destroy', pollsection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pollsection', new_pollsection_path %>
