<%
@research_history = []
10.times do
  @research_history << Research.new
end
%>
<div class="col-md-7">
  <%= form_tag researches_path do %>
  <fieldset>
    <legend>
      <%= t(:research_history)%>
    </legend>

    <div class="row top30">
      <div class="col-xs-5">
        <button id='checkAll' type="button" class="btn btn-green btn-squared btn-xs">
          <i class="fa fa-check-circle-o" style="color: white !important;vertical-align: middle;"></i> <%= t(:all)%>&nbsp
        </button>
        <button id='uncheckAll' type="button" class="btn btn-light-red btn-squared btn-xs">
          <i class="fa fa-circle-o" style="color: white !important;vertical-align: middle;"></i> <%= t(:none)%>&nbsp
        </button>
        <button id='all' type="button" class="btn btn-light-azure btn-squared btn-xs">
          <i class="fa fa-check" style="color: white !important;vertical-align: middle;"></i> <%= t(:submit)%>&nbsp
        </button>
        <%= link_to '/registeration_steps?step=4' do%>
        <button type="button" class="btn btn-dark-green btn-squared btn-xs">
           &nbsp<%= t(:next)%>
           <i class="fa fa-arrow-left" style="color: white !important;vertical-align: middle;"></i>
        </button>
        <%end%>
      </div>

    </div>
      <hr />
    <p id='loading' style="display:none"><%= image_tag '/assets/loadingline.gif', height:"48" ,style: 'margin-top:4px;'%><%=t :loading%></p>


    <div id='papers' style='direction:ltr'></div>
    <div id='form'>
    <%@i  = 0%>
    <% @research_history.each do |research| %>

    <%= fields_for 'research_history[]', research do |f| %>
    <% if @i == 4%>
      <div id="more" class="collapse">
    <%end%>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label><%= f.label :name %></label>
          <%= f.text_field :name, class: "form-control"  %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label><%= f.label :pub_year %></label>
          <%= f.text_field :pub_year, class: "form-control"  %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label><%= f.label :pub_type %></label>
          <%= f.text_field :pub_type, class: "form-control"  %>
        </div>
      </div>

      <div class="col-md-7">
        <div class="form-group">
          <label><%= f.label :pub_name %></label>
          <%= f.text_field :pub_name, class: "form-control"  %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label><%= f.label :pub_authors %></label>
          <%= f.text_field :pub_authors , class: "form-control"%>
        </div>
      </div>
    </div>
    <hr>
    <% if @i == 3%>
    <div class="form-actions">
      <button type="button" class="btn btn-info pull-left" data-toggle="collapse" data-target="#more"><%= t(:more)%>...</button>
    </div>
    <%end%>
    <% if @i == 10%>
      </div>
    <%end%>
    <% @i = @i + 1%>
    <% end %>
    <% end %>
<%= hidden_field_tag 'caller', 'reg'%>
  </fieldset>
  <% end %>
</div>
</div>

<script>
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
$(document).ready(function(){
    var name = getUrlParameter('name');
    $('#loading').show();
    axios.get('http://sn.ut.ac.ir:8080/research?name='+ name)
    .then(function (response) {
      $('#form').hide();
      $('#loading').hide();
      var papers = '<ul>'
      for (p in response.data){
        papers +=
        "<li id='item-"+ p +"'><ul>" +
        '<li>'+ '<b>Author(s):</b> ' + "<a href='#' id=authors-"+ p + ">" + response.data[p].pub_authors + '</a></li>' +
        '<li>'+ '<b>Title:</b> ' + "<a href='#' id=title-"+ p + ">" + response.data[p].name +'</a></li>' +
        '<li>'+ '<b>Publisher:</b> ' + "<a href='#' id=publisher-"+ p + ">" + response.data[p].pub_name +'</a></li>' +
        '<li>'+ '<b>Publication Type:</b> ' + "<a href='#' id=pub_type-"+ p + ">" + response.data[p].pub_type +'</a></li>' +
        '<li>'+ '<b>Year:</b> ' + "<a href='#' id=year-"+ p + ">" + response.data[p].pub_year +'</a></li>' +
        '<li>'+ '<b>Pages:</b> ' + "<a href='#' id=pages-"+ p + ">" + response.data[p].pp +'</a></li>'+
        '</ul>'+
        "<div class='pull-right' style='margin-top:-20px'> " +
        " <button id='quit_paper-"+ p +"' type='button' class='btn btn-grey btn-squared btn-xs'><%= t(:quit)%></button>" +
        " <button id='submit_paper-"+ p +"' type='button' class='btn btn-green btn-squared btn-xs'><%= t(:submit)%></button> " +
        "<input type='checkbox' id='checkbox-" + p +"' value='" + p + "' checked=''>" +
        "<p id='result-"+ p+"'></p></div>" +
        '<hr/></li>'+
        "<script" + ">" + "$('#submit_paper-"+p +"').click(function(){" +
        "axios.post('/researches', { research:{pub_authors: $('#authors-"+ p +
        "').text(), name: $('#title-"+ p +"').text(), pub_year:  $('#year-"+ p +"').text(), pub_type:  $('#pub_type-"+ p +"').text(), pp:  $('#pages-"+ p +"').text(), pub_name:  $('#publisher-"+ p +"').text()" +
        "}}).then(function (response) {$('#submit_paper-" + p+"').hide();$('#quit_paper-" + p+"').hide(); $('#result-"+p+"').text('<%=t :done%>');}).catch(function (error){console.log(error);});});"+"</script"+ ">" +

        "<script" + ">" + "$('#quit_paper-"+p +"').click(function(){ $('#item-"+ p +"').hide();});</script"+ ">" +

        "<script" + ">" + "$('#authors-" + p + "').editable({ type: 'text', pk: 1 });" +"</script"+ ">" +
        "<script" + ">" + "$('#title-" + p + "').editable({ type: 'text', pk: 1 });" +"</script"+ ">" +
        "<script" + ">" + "$('#publisher-" + p + "').editable({ type: 'text', pk: 1 });" +"</script"+ ">" +
        "<script" + ">" + "$('#year-" + p + "').editable({ type: 'text', pk: 1 });" +"</script"+ ">" +
        "<script" + ">" + "$('#pages-" + p + "').editable({ type: 'text', pk: 1 });" +"</script"+ ">"

      }
        papers += '</ul>'
        $('#papers').html(papers);

    })
    .catch(function (error) {
      $('#loading').show();
      console.log(error);
    });


    $('#all').click(function () {
    $('input[type=checkbox]').each(function () {
      if(this.checked == 1){
        var current = this.value;
        //console.log(this.value);
        axios.post('/researches', {
          research:{
            pub_authors: $("#authors-"+ this.value).text(),
            name: $("#title-"+ this.value ).text(),
            pub_year:  $("#year-"+ this.value).text(),
            pub_type:  $("#pub_type-"+ this.value ).text(),
            pp:  $("#pages-"+ this.value).text(),
            pub_name:  $("#publisher-"+ this.value).text()
          }
        })
        .then(function (response) {
          console.log(response);
          $("#submit_paper-" +  current ).hide();
          $("#quit_paper-" + current).hide();
          $("#checkbox-" + current).hide();
          $("#result-"+ current ).text('<%=t :done%>');
        })
        .catch(function (error){
          console.log(error);
        });
        }
    });
    });

    $("#checkAll").click(function(){
    $('input[type=checkbox]').prop('checked', true);
    });

    $("#uncheckAll").click(function(){
    $('input[type=checkbox]').prop('checked', false);
    });
});



</script>

<%= hidden_field_tag 'caller', 'reg'%>
