<div id='research-detail'>
  <div class="row">
    <div class="col-md-9 padding-left-0">
      <div class="row">
        <div class="col-md-10">
          <p>
            <%=t :title%>:
            <%= research.name%>
          </p>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4 ">
          <p>
            <%=t :pub_year%>:
            <%= research.pub_year%>
          </p>
        </div>
        <div class="col-md-3 padding-right-0 padding-left-0">
          <p>
            <%=t :pub_type%>:
            <%= research.pub_type%>
          </p>
        </div>
        <div class="col-md-5 padding-right-0 padding-left-0">
          <p>
            <%=t :pub_name%>:
            <%= research.pub_name%>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>
            <%=t :pub_authors%>:
            <%= research.pub_authors%>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-white">
        <div class="panel-body">
          <div class="col-md-12">
            <div class="row" style='margin-bottom:2px;'>
              <%= render partial: '/followships/follow', locals:{item: research}%>
            </div>
            <% if !research.document_file_name.blank? %>
            <div class="row" style='margin-bottom:2px;'>
              <%= link_to research.document.url do%>
              <button type="button" class="btn btn-light-red btn-squared btn-xs">
                <i class="fa fa-file-pdf-o" style="color: white !important;vertical-align: middle;"></i> &nbsp <%= t(:fulltext)%>
              </button>
              <%end%>
            </div>
            <%end%>
            <% if research.user.id == current_user.id%>
            <div class="row" style='margin-bottom:5px;'>
              <%= link_to research, :method => :delete, data: {confirm: "Are you sure?"}   do%>
              <button type="button" class="btn btn-dark-grey btn-squared btn-xs">
                <i class="fa fa-file-pdf-o" style="color: white !important;vertical-align: middle;"></i> <%= t(:delete)%>
              </button>
              <%end%>
            </div>
            <%end%>


            <div class="row">
              <span class='text-small'><%=t :users_vote%></span>
              <table>
                <tbody>
                  <tr>
                    <td><span class='text-small'>  <%=t :soundness %></span></td>
                    <td><%= Ranking.where(rankable_id: research.id, rankable_type: research.class.name, rank_type: 'soundness').average(:value)%></td>
                  </tr>
                  <tr>
                    <td><span class='text-small'>  <%=t :presentation %></span></td>
                    <td><%= Ranking.where(rankable_id: research.id, rankable_type: research.class.name, rank_type: 'presentation').average(:value)%></td>
                  </tr>
                  <tr>
                    <td><span class='text-small'>  <%=t :novelty %></span></td>
                    <td><%= Ranking.where(rankable_id: research.id, rankable_type: research.class.name, rank_type: 'novelty').average(:value)%></td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        <%=t :abstract%>:
        <%= research.abstract%>
      </p>
    </div>
  </div>

<hr/>
  <div class="row">
    <div class="col-md-12">
    <% for contribution in research.contributions %>
    <%= image_tag contribution.user.profile.avatar(:tiny)%> <%= contribution.user.profile.name%> <%= contribution.user.profile.surename%>
    <%end%>
  </div>
  </div>


  <hr/>
  <div class="row">
    <% @soundness = Ranking.where(rankable_id: research.id, rankable_type: research.class.name, rank_type: 'soundness', user_id: current_user.id).first%>
    <% @presentation = Ranking.where(rankable_id: research.id, rankable_type: research.class.name, rank_type: 'presentation', user_id: current_user.id).first%>
    <% @novelty = Ranking.where(rankable_id: research.id, rankable_type: research.class.name, rank_type: 'novelty', user_id: current_user.id).first%>

    <% if !@soundness.blank?%>
    <%@soundness_value = @soundness.value%>
    <%end%>
    <% if !@presentation.blank?%>
    <%@presentation_value = @presentation.value%>
    <%end%>
    <% if !@novelty.blank?%>
    <%@novelty_value = @novelty.value%>
    <%end%>
    <div class="col-md-4 padding-right-20 padding-left-0">
      <div class=" text-extra-large">
        <span class='text-small'>  <%=t :soundness %></span>
        <input type="hidden" class="rating-tooltip" data-filled="fa fa-star margin-right-5 text-yellow" data-empty="fa fa-star-o margin-right-5" id='soundness' value='<%= @soundness_value %>'/>

      </div>
    </div>
    <div class="col-md-4  padding-right-0 padding-left-0">
      <div class=" text-extra-large">
        <span class='text-small'>  <%=t :presentation %></span>
        <input type="hidden" class="rating-tooltip" data-filled="fa fa-star margin-right-5 text-yellow" data-empty="fa fa-star-o margin-right-5" id='presentation' value='<%= @presentation_value%>'/>

      </div>
    </div>
    <div class="col-md-4  padding-right-0 padding-left-0">
      <div class=" text-extra-large">
        <span class='text-small'>  <%=t :novelty %></span>
        <input type="hidden" class="rating-tooltip" data-filled="fa fa-star margin-right-5 text-yellow" data-empty="fa fa-star-o margin-right-5" id='novelty' value='<%= @novelty_value%>'/>
      </div>
    </div>
  </div>
  <hr/>

  <script>
  $('#soundness').rating();
  $('#presentation').rating();
  $('#novelty').rating();
  $('#soundness').on('change', function () {
    var url = '/rankings/remote/1?rankable_id='+ '<%= research.id%>' +'&rankable_type=' + '<%= research.class.name%>' + '&rank_type=' + 'soundness' + '&value=' + $(this).val();
    $.get(url,
      function(d) {
        console.log(d);
      }
    );
  });

  $('#presentation').on('change', function () {
    var url = '/rankings/remote/1?rankable_id='+ '<%= research.id%>' +'&rankable_type=' + '<%= research.class.name%>' + '&rank_type=' + 'presentation' + '&value=' + $(this).val();
    $.get(url,
      function(d) {
        console.log(d);
      }
    );
  });

  $('#novelty').on('change', function () {
    var url = '/rankings/remote/1?rankable_id='+ '<%= research.id%>' +'&rankable_type=' + '<%= research.class.name%>' + '&rank_type=' + 'novelty' + '&value=' + $(this).val();
    $.get(url,
      function(d) {
        console.log(d);
      }
    );
  });
  </script>

  <% @comments = Comment.where(commentable_type: 'Research', commentable_id: research.id).last(page*4)%>
  <%= render partial: 'researches/research_comments', locals: {comments: @comments, research: research, page: page}%>
</div>
