<div class="wrap-content container" id="container">
  <!-- start: PAGE TITLE -->
  <section id="page-title">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="mainTitle"><%= t(:new_research)%></h1>
        <span class="mainDescription"><%= t(:please_enter_new_research_data)%></span>
      </div>
      <ol class="breadcrumb">
        <li>
          <span></span>
        </li>
        <li class="active">
          <span></span>
        </li>
      </ol>
    </div>
  </section>
  <div class="container-fluid container-fullw bg-white">
    <div class="row">
      <div class="col-md-12">
        <h5 class="over-title"> <span class="text-bold"></span></h5>
        <div class="panel panel-white">
          <div class="panel-body">
            <%= form_for @research do |f| %>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label><%= f.label :name %></label>
                  <%= f.text_field :name, class: "form-control"  %>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label><%= f.label :pub_year %></label>
                  <%= f.text_field :pub_year, class: "form-control"  %>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label><%= f.label :pub_type %></label>
                  <%= f.text_field :pub_type, class: "form-control"  %>
                </div>
              </div>

              <div class="col-md-7">
                <div class="form-group">
                  <label><%= f.label :pub_name %></label>
                  <%= f.text_field :pub_name, class: "form-control"  %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label><%= f.label :pub_authors %></label>
                  <%= f.text_field :pub_authors , class: "form-control"%>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label><%= f.label :abstract %></label>
                  <%= f.text_area :abstract , class: "form-control"%>
                </div>
              </div>
            </div>

            <div class="fileUpload btn btn-o btn-light-purple">
              <span><i class="fa fa-book" style='vertical-align:middle;'></i> <%=t :upload_file%>...</span>
              <%= f.file_field :document, class: "upload" %>
            </div>
            <hr>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary pull-left">
                <%= t(:submit)%> <i class="fa fa-arrow-circle-left"></i>
              </button>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
