<div class="wrap-content container" id="container">
  <!-- start: PAGE TITLE -->
  <section id="page-title">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="mainTitle"><%= t(:new_research)%></h1>
        <span class="mainDescription"><%= t(:please_enter_new_research_data)%></span>
      </div>
      <ol class="breadcrumb">
        <li>
          <span></span>
        </li>
        <li class="active">
          <span></span>
        </li>
      </ol>
    </div>
  </section>
  <div class="container-fluid container-fullw bg-white">
    <div class="row">
      <div class="col-md-12">
        <h5 class="over-title"> <span class="text-bold"></span></h5>
        <div class="panel panel-white">
          <div class="panel-body">
            <%= form_for @research do |f| %>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label><%= f.label :name %></label>
                  <%= f.text_field :name, class: "form-control"  %>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label><%= f.label :pub_year %></label>
                  <%= f.text_field :pub_year, class: "form-control"  %>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label><%= f.label :pub_type %></label>
                  <%= f.text_field :pub_type, class: "form-control"  %>
                </div>
              </div>

              <div class="col-md-7">
                <div class="form-group">
                  <label><%= f.label :pub_name %></label>
                  <%= f.text_field :pub_name, class: "form-control"  %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label><%= f.label :pub_authors %></label>
                  <%= f.text_field :pub_authors , class: "form-control"%>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label><%= f.label :abstract %></label>
                  <%= f.text_area :abstract , class: "form-control"%>
                </div>
              </div>
            </div>

            <style>
            .ui-helper-hidden-accessible { position: absolute; left:-999em; }
            </style>

            <%=t :tags%><br />
            <% @tags = []%>
            <% for tagging in @research.taggings%>
              <% @tags << Tag.find(tagging.tag_id).title%>
            <%end%>
            <div class="col-xs-6 padding-right-0 margin-top-5 rtl">
                <input type="text"  id="tokenfield" value="<%= @tags.join(',')%>" placeholder="" tabindex="-1" >
            </div>
            <div class="row">
            <input type="hidden" id='tags' name="tags" value="">
          </div>

            <div class="fileUpload btn btn-o btn-light-purple">
              <span><i class="fa fa-book" style='vertical-align:middle;'></i> <%=t :upload_file%>...</span>
              <%= f.file_field :document, class: "upload" %>
            </div>
            <hr>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary pull-left">
                <%= t(:submit)%> <i class="fa fa-arrow-circle-left"></i>
              </button>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

$('#tokenfield')

.on('tokenfield:createtoken', function (e) {
    var data = e.attrs.value.split('|')
    $("#tags").val(function() {
    return this.value + ',' +data;
    });
  })


  .on('tokenfield:edittoken', function (e) {
    var data = e.attrs.value.split('|')
    var prev = $("#tags").val().split(',')
    $("#tags").val('');
    for (var i in prev) {
      if (prev[i].toString() !== data.toString()){
        console.log(prev[i]);
        $("#tags").val(function() {
        return this.value + ',' +prev[i];
        });
      }
      }
  })

  .on('tokenfield:removedtoken', function (e) {
    var data = e.attrs.value.split('|')
    var prev = $("#tags").val().split(',')
    $("#tags").val('');
    for (var i in prev) {
      if (prev[i].toString() !== data.toString()){
        console.log(prev[i]);
        $("#tags").val(function() {
        return this.value + ',' +prev[i];
        });
      }
      }
  })





.tokenfield({

  autocomplete: {
    source: function( request, response ) {
        $.ajax({
          url: "/tags/remoteq/1",
          dataType: "jsonp",
          data: {
            q: request.term
          },
          success: function( data ) {
            response( data );
          }
        });
      },
      minLength: 1,
      delay: 30
  },
  showAutocompleteOnFocus: true
})
</script>
