<p id="notice"><%= notice %></p>

<h1>Listing Researches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pub year</th>
      <th>Pub type</th>
      <th>Pub name</th>
      <th>Pub authors</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @researches.each do |research| %>
      <tr>
        <td><%= research.name %></td>
        <td><%= research.pub_year %></td>
        <td><%= research.pub_type %></td>
        <td><%= research.pub_name %></td>
        <td><%= research.pub_authors %></td>
        <td><%= link_to 'Show', research %></td>
        <td><%= link_to 'Edit', edit_research_path(research) %></td>
        <td><%= link_to 'Destroy', research, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Research', new_research_path %>
