<div id='cm' class="panel-body border-light">
  <hr />
  <div class="col-md-12">
    <div class="row">
      <% if c.class.name != 'Channel'%>
      <%= form_for Comment.new,:remote => :true, :html => { :multipart => true, :id => "fileupload-#{c.class.name}-#{c.id}"  }  do |f|%>
      <div class="col-md-10 padding-left-0 ">
        <%= f.text_area :content, :class => "form-control", :placeholder => "#{t(:post_your_comment)}", maxlength: "140"%>
       <%= t(:attached_file)%>: <span id='selected_upload'><%= t(:has_not_any)%></span>
        <script type="text/javascript">
          $(document).ready(function() {
            $("#comment_content").emojioneArea();
          });
        </script>
      </div>
      <div class="col-md-2 padding-left-5" style="padding-top:5px;">
        <div class="row margin-right-0">
          <i id='fedit-<%= c.class.name%>-<%= c.id%>' class="fa fa-file "></i>
          <i id='cedit-<%= c.class.name%>-<%= c.id%>' class="fa fa-camera"></i>
          <%= f.file_field :document, :style =>"display: none;", id: "document-#{c.class.name}-#{c.id}" %>
          <%= f.file_field :avatar, :style =>"display: none;", id: "avatar-#{c.class.name}-#{c.id}" %>
        </div>
          <div class="row margin-right-0">
            <%= content_tag :button, :type => :submit,id: 'subbtn', :class => "btn btn-azure btn-squared btn-xs" do %>
            <i class="fa fa-paper-plane" style="color: white !important;vertical-align: middle;"></i>&nbsp <%= t(:submit)%>&nbsp
            <% end %>

            <button type="button" id='submit-<%= c.class.name%>-<%= c.id%>' class="btn btn-azure btn-squared btn-xs">
              <i class="fa fa-paper-plane" style="color: white !important;vertical-align: middle;"></i>&nbsp <%= t(:submit)%>&nbsp
            </button>
        </div>
      </div>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
      <%= f.hidden_field :commentable_type, :value => c.class.name%>
      <%= f.hidden_field :commentable_id, :value => c.id%>
      <%= hidden_field_tag :page, page%>
      <%end%>
      <%else%>
      <% involvement = Involvement.where(channel_id: c.id, user_id: current_user.id).first%>
      <% if admin?(involvement) %>
      <%= form_for Comment.new,:remote => :true, :html => { :multipart => true, :id => "fileupload"  }  do |f|%>
      <div class="col-md-10 padding-left-0 ">
        <%= f.text_area :content, :class => "form-control", :placeholder => "#{t(:post_your_comment)}", maxlength: "140"%>
        <script type="text/javascript">
          $(document).ready(function() {
            $("#comment_content").emojioneArea();
          });
        </script>
      </div>
      <div class="col-md-2 padding-left-5" style="padding-top:5px;">
        <div class="row margin-right-0">
          <i id='fedit' class="fa fa-file"></i>
          <i id='cedit' class="fa fa-camera"></i>
          <%= f.file_field :document, :style =>"display: none;" %>
          <%= f.file_field :avatar, :style =>"display: none;" %>
        </div>
          <div class="row margin-right-0">
            <%= content_tag :button, :type => :submit,id: 'subbtn', :class => "btn btn-azure btn-squared btn-xs" do %>
            <i class="fa fa-paper-plane" style="color: white !important;vertical-align: middle;"></i>&nbsp <%= t(:submit)%>&nbsp
            <% end %>

            <button type="button" id='submit' class="btn btn-azure btn-squared btn-xs">
              <i class="fa fa-paper-plane" style="color: white !important;vertical-align: middle;"></i>&nbsp <%= t(:submit)%>&nbsp
            </button>
        </div>
      </div>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
      <%= f.hidden_field :commentable_type, :value => c.class.name%>
      <%= f.hidden_field :commentable_id, :value => c.id%>
      <%= hidden_field_tag :page, page%>
      <%end%>
      <%end%>
      <%end%>
    </div>
  </div>
</div>

<script type="text/javascript">
$('#submit-<%= c.class.name%>-<%= c.id%>').hide();
$('#fedit-<%= c.class.name%>-<%= c.id%>').click(function() {
  $('#document-<%= c.class.name%>-<%= c.id%>').click();
});
$('#cedit-<%= c.class.name%>-<%= c.id%>').click(function() {
  $('#avatar-<%= c.class.name%>-<%= c.id%>').click();
});
$(function () {
  $('#fileupload-<%= c.class.name%>-<%= c.id%>').fileupload({
    dataType: 'json',
    add:function (e, data) {
      console.log(data);
      $('#selected_upload').text(data.files[0].name);
      $('#subbtn').hide();
      $('#submit-<%= c.class.name%>-<%= c.id%>').show();
      $("#submit-<%= c.class.name%>-<%= c.id%>").off('click').on('click',function () {
        console.log('Submiting ..');
        data.submit();
      });
    },
    done: function (e, data) {
      var url = '/comments/render_partial/'+ data.result.id+'?page='+<%= page%>
      $.get(url,
        function(d) {
          console.log(d);
          $("#<%= c.class.name.downcase%>-detail").replaceWith(d.html);
        }
      );
    }
  });
});
</script>
