<%= form_for(@followship) do |f| %>
  <% if @followship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@followship.errors.count, "error") %> prohibited this followship from being saved:</h2>

      <ul>
      <% @followship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :followable_type %><br>
    <%= f.text_field :followable_type %>
  </div>
  <div class="field">
    <%= f.label :followable_id %><br>
    <%= f.number_field :followable_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
