<div id='preportform'>
  <div class="panel panel-white">
    <div class="panel-heading border-light">
      <h4 class="panel-title"><%= t(:preports_list)%></h4>
      <div class="panel-tools">
      </div>
    </div>
    <div class="panel-body">
  <%= render partial: 'preports/list', locals:{task: task}%>
  </div>
</div>
  <div class="panel panel-white">

    <div class="panel-heading border-light">
      <h4 class="panel-title"><%= t(:add_preport)%></h4>
      <div class="panel-tools">
      </div>
    </div>
    <div class="panel-body">

      <% @preport = Preport.new%>
      <%= form_for @preport , :html => { :multipart => true, :id => "fileupload"  }  do |f| %>
      <% if @preport.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@preport.errors.count, "error") %> prohibited this preport from being saved:</h2>

        <ul>
          <% @preport.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="field">
        <%= hidden_field_tag :task_id, task.id%>
      </div>
      <div class="row">
        <div class="form-group col-xs-9">
          <%= f.label :detail %><br>
          <%= f.text_area :detail, :class => "form-control"  %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-4">
          <%= f.label :status %><br>
          <%= f.text_field :status, :class => "form-control"  %>
        </div>
      </div>

      <%= f.file_field :document %>

      <div class="row top30">
        <div class="col-xs-9">
        </div>
        <div class="col-xs-3 padding-left-0 padding-right-0">
          <%= content_tag :button,:class => "btn btn-o btn-primary" do %>
          <i class="icon-ok bigger-110"></i>
          <%=t :submit%>
          <% end %>
        </div>

      </div>

      <% end %>
    </div>
  </div>
</div>
