<p id="notice"><%= notice %></p>

<h1>Listing Qitems</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Questionaire</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qitems.each do |qitem| %>
      <tr>
        <td><%= qitem.content %></td>
        <td><%= qitem.questionaire_id %></td>
        <td><%= link_to 'Show', qitem %></td>
        <td><%= link_to 'Edit', edit_qitem_path(qitem) %></td>
        <td><%= link_to 'Destroy', qitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qitem', new_qitem_path %>
