<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @blocking.user_id %>
</p>

<p>
  <strong>Target:</strong>
  <%= @blocking.target_id %>
</p>

<p>
  <strong>Blocked type:</strong>
  <%= @blocking.blocked_type %>
</p>

<p>
  <strong>Blocked:</strong>
  <%= @blocking.blocked_id %>
</p>

<%= link_to 'Edit', edit_blocking_path(@blocking) %> |
<%= link_to 'Back', blockings_path %>
