<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @notification.user_id %>
</p>

<p>
  <strong>Notifiable type:</strong>
  <%= @notification.notifiable_type %>
</p>

<p>
  <strong>Notifiable:</strong>
  <%= @notification.notifiable_id %>
</p>

<p>
  <strong>Notifiee type:</strong>
  <%= @notification.notifiee_type %>
</p>

<p>
  <strong>Notfiee:</strong>
  <%= @notification.notfiee_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @notification.content %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
