<div class="modal fade bs-example-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id='addprofile'>
  <div class="modal-dialog modal-dialog modal-lg">
    <div class="modal-content" style="background:white;">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><%= t(:add_user_to_group)%></h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class='col-md-6'>
            <%= form_tag '/profiles/search/1',:method => :get,:remote => :true do%>
            <div class="input-group">
              <%= text_field_tag :q, '' , {:class=>"form-control", :id => "nav-search-input", :placeholder => "#{t(:search)}"}%>
              <%= hidden_field_tag 'caller', 'addtogroup'%>
              <%= hidden_field_tag 'class', 'Group'%>
              <%= hidden_field_tag 'class_id', group.id%>
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" >
                  <i class="fa fa-search fa-fw" style=" vertical-align: middle;"></i> <%= t(:search)%>
                </button>
              </span>
            </div>
            <%end%>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <fieldset>
              <legend>
                <%= t(:search_results)%>
              </legend>
              <% @profiles = {}%>
              <%= render partial: 'profiles/compactlist', locals: {profiles: @profiles, item: group}%>
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <legend>
                <%= t(:users_in_group)%>
              </legend>
              <%= render partial: 'groupings/list', locals: {group: group}%>
            </fieldset>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-o" data-dismiss="modal">
          <%= t(:close)%>
        </button>
      </div>
    </div>
  </div>
</div>
