<div id='group-comments'>
  <div class="margin-top-5" style='font-size: 10px;'>
    <%=t :number_of_posts%>: (<%= @count = Comment.where(commentable_type: 'Group', commentable_id: group.id).count %>)
  </div>
  <%if @page.blank? %>
  <% @page = page.to_i%>
  <%end%>
  <% @page = @page + 1%>
  <% if @count > 4%>
  <div class="span12 text-center">  <%= link_to 'groups/view_content/'+ group.id.to_s+'?page='+@page.to_s,:remote => true  do%><i class="fa fa-history"></i> <%=t :pervious_posts%> <%end%></div>
  <%end%>
  <div class="timeline-centered">
    <% for comment in comments%>
    <article class="timeline-entry">
      <div class="timeline-entry-inner">
        <div class="timeline-icon">
          <%= image_tag comment.user.profile.avatar(:thumb), :class => "messages-item-avatar bordered border-primary"%>
        </div>
        <div class="timeline-label">
          <h2><%= link_to comment.user.profile do%><%= comment.user.profile.name%> <%= comment.user.profile.surename%><%end%></h2>
          <% if current_user.id == comment.user.id%>
          <% if comment.document_file_name %>
          <%= link_to comment.document.url do %>
          <i class="fa fa-2x fa-file"></i>
          <%end%>
          <%end%>
          <% if comment.avatar_file_name %>
          <%= image_tag comment.avatar(:medium), :class => "messages-item-avatar bordered border-primary"%>
          <%end%>
          <p class="convert-emoji"><%= comment.content%></p>

          <script type="text/javascript">
          $(document).ready(function() {
            $(".convert-emoji").each(function() {
              var original = $(this).html();
              var converted = emojione.unicodeToImage(original);
              $(this).html(converted);
            });
          });
          </script>

          <%else%>
          <% if comment.document_file_name %>
          <%= link_to comment.document.url do %>
          <i class="fa fa-2x fa-file"></i>
          <%end%>
          <%end%>
          <% if comment.avatar_file_name %>
          <%= image_tag comment.avatar(:medium), :class => "messages-item-avatar bordered border-primary"%>
          <%end%>
          <p><%= comment.content%></p>
          <%end%>
          <% grouping = Grouping.where(group_id: group.id, user_id: current_user.id).first%>
          <% if admin?(grouping) || comment.user_id == current_user.id%>
          <div class='trash'>
            <%= link_to 'comments/'+ comment.id.to_s + '?page='+@page.to_s, :method => :delete, :remote => true, data: {confirm: "Are you sure?"}  do %>
            <i class="fa fa-trash-o"></i>
            <%end%>
          </div>
          <%end%>
        </div>
      </div>
    </article>
    <%end%>
  </div>
</div>
