<% @random_string = SecureRandom.hex%>
<li class="messages-item padding-5 <%= @bg%>" id='<%=@random_string %>'>
  <%= link_to 'groups/view_content/'+ group.id.to_s+'?rnd='+@random_string,:remote => true  do%>
  <%= image_tag group.avatar(:thumb), :class => "messages-item-avatar bordered border-primary"%>
  <span class="messages-item-from"><%= group.name%></span>
  <div class="messages-item-time">
    <span class="text">
      <% link_to edit_group_path(group) do%>
        <%=t :edit%>
      <%end%>
    </span>
  </div>
  <span class="messages-item-subject"></span>
  <span class="messages-item-content"><%= truncate(group.description, :length => 20)%></span>
  <div class="messages-item-time" style="margin-top:17px"></div>
  <%end%>
</li>
