<div class="wrap-content container padding-right-0" id="container">
  <div class="col-md-12 padding-right-0 padding-left-0" >
    <div class=" col-md-4 padding-right-0 padding-left-0 " >
      <div class="tabbable padding-right-0 padding-left-0 ">
        <ul id="myTab1" class="nav nav-tabs">
          <li class="">
            <a href="#my_groups" data-toggle="tab" aria-expanded="true">
              <i class="fa fa-chain"></i>
            </a>
          </li>
          <li class="active">
            <a href="#top_groups" data-toggle="tab" aria-expanded="true">
              <i class="fa fa-trophy"></i>
            </a>
          </li>
          <li class="">
            <a href="#related_groups" data-toggle="tab" aria-expanded="true">
              <i class="fa fa-plug"></i>
            </a>
          </li>
          <li class="">
            <a href="#search_groups" data-toggle="tab" aria-expanded="true">
              <i class="fa fa-search"></i>
            </li>
          </ul>


          <div class="tab-content">
            <div class="tab-pane fade" id="my_groups">
              <% if grant_access('create_group', current_user)%>
              <ul class="list-group">
                <%= link_to new_group_path do%>
                <li class="list-group-item">
                  <i class="fa fa-plus"></i> <%=t :new_group%>
                </li>
                <%end%>
              </ul>
              <%end%>
              <span><i class="fa fa-hand-o-left" style='vertical-align:middle'></i>  <%=t :groups_you_joined%></span>
              <hr style="margin-top:0px; margin-bottom:0px;">
              <ul class="messages-list relative top-0 margin-bottom-5">
                <% for gr in Grouping.where(user_id: current_user.id, role: 3)%>
                <%= render partial: 'groups/item', locals: {group: gr.group}%>
                <%end%>
              </ul>
              <span><i class="fa fa-hand-o-left" style='vertical-align:middle'></i> <%=t :groups_you_manage%></span>
              <hr style="margin-top:0px; margin-bottom:0px;">
              <ul class="messages-list relative top-0 margin-bottom-5">
                <% for gr in Grouping.where(user_id: current_user.id, role: 1)%>
                <%= render partial: 'groups/item', locals: {group: gr.group}%>
                <%end%>
              </ul>
            </div>

            <div class="tab-pane fade active in" id="top_groups">
              <span><i class="fa fa-hand-o-left" style='vertical-align:middle'></i> <%=t :popular_groups%></span>
              <ul class="messages-list relative top-0">
                <% @j = 0%>
                <% for i in Grouping.group('group_id').order('count_id desc').count('id')%>
                <% if @j < 5%>
                <%= render partial: 'groups/item', locals: {group: Group.find(i[0])}%>
                <%end%>
                <% @j = @j+1%>
                <%end%>
              </ul>

              <span><i class="fa fa-hand-o-left" style='margin-top:10px; vertical-align:middle'></i>  <%=t :newest_groups%></span>
              <hr style="margin-top:0px; margin-bottom:0px;">
              <ul class="messages-list relative top-0">
                <% for group in Group.all.order("id desc").limit(5).reverse%>
                  <%= render partial: 'groups/item', locals: {group: group}%>
                <%end%>
              </ul>
            </div>

            <div class="tab-pane fade" id="related_groups">
              <p class="margin-top-10"><i class="fa fa-hand-o-left" style='vertical-align:middle'></i><%=t :groups_you_manage%></p>
              <hr />
            </div>
            <div class="tab-pane fade " id="search_groups">
              <% if grant_access('search_groups', current_user)%>
              <div>
                <%= form_tag '/groups/search/1',:method => :get,:remote => :true, :class => "navbar-form" do%>
                <div class="form-group">
                  <%= text_field_tag :q, '' , {:class=>"form-control", :id => "nav-search-input", :placeholder => "#{t(:search)}"}%>

                  <button class="btn search-button" type="submit">
                    <i class="ti-search"></i>
                  </button>

                </div>
                <%end%>
              </div>
              <div id='search-results'></div>
              <%end%>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7 padding-right-0 padding-left-0" >
        <div class="panel panel-white no-radius" id="visits">
          <div class="panel-heading border-light">
            <h4 class="panel-title"></h4>
            <ul class="panel-heading-tabs border-light">
              <li class="panel-tools">
                <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="ti-reload"></i></a>
              </li>
            </ul>
          </div>
          <div class="panel-body">


              <div id='group-detail'>
                <% if !@group.blank?%>
                <% @page = 1%>
                <%= render(:partial => 'groups/detail', locals: {group: @group, page:@page }) %>
                <%end%>
              </div>
          </div>
            <% if grant_access('comment_on_groups', current_user)%>
          <div  id='cm' class="panel-footer border-light">

          </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
