<p id="notice"><%= notice %></p>

<h1>Listing Privacypolicies</h1>

<table>
  <thead>
    <tr>
      <th>Profile fathername</th>
      <th>Profile sex</th>
      <th>Profile birthdate</th>
      <th>Profile ssn</th>
      <th>Profile phonenumber</th>
      <th>Profile mobilenumber</th>
      <th>Education all</th>
      <th>Research all</th>
      <th>Honor all</th>
      <th>Tag all</th>
      <th>Followers all</th>
      <th>Followess all</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @privacypolicies.each do |privacypolicy| %>
      <tr>
        <td><%= privacypolicy.profile_fathername %></td>
        <td><%= privacypolicy.profile_sex %></td>
        <td><%= privacypolicy.profile_birthdate %></td>
        <td><%= privacypolicy.profile_ssn %></td>
        <td><%= privacypolicy.profile_phonenumber %></td>
        <td><%= privacypolicy.profile_mobilenumber %></td>
        <td><%= privacypolicy.education_all %></td>
        <td><%= privacypolicy.research_all %></td>
        <td><%= privacypolicy.honor_all %></td>
        <td><%= privacypolicy.tag_all %></td>
        <td><%= privacypolicy.followers_all %></td>
        <td><%= privacypolicy.followess_all %></td>
        <td><%= link_to 'Show', privacypolicy %></td>
        <td><%= link_to 'Edit', edit_privacypolicy_path(privacypolicy) %></td>
        <td><%= link_to 'Destroy', privacypolicy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Privacypolicy', new_privacypolicy_path %>
