<p id="notice"><%= notice %></p>

<p>
  <strong>Profile fathername:</strong>
  <%= @privacypolicy.profile_fathername %>
</p>

<p>
  <strong>Profile sex:</strong>
  <%= @privacypolicy.profile_sex %>
</p>

<p>
  <strong>Profile birthdate:</strong>
  <%= @privacypolicy.profile_birthdate %>
</p>

<p>
  <strong>Profile ssn:</strong>
  <%= @privacypolicy.profile_ssn %>
</p>

<p>
  <strong>Profile phonenumber:</strong>
  <%= @privacypolicy.profile_phonenumber %>
</p>

<p>
  <strong>Profile mobilenumber:</strong>
  <%= @privacypolicy.profile_mobilenumber %>
</p>

<p>
  <strong>Education all:</strong>
  <%= @privacypolicy.education_all %>
</p>

<p>
  <strong>Research all:</strong>
  <%= @privacypolicy.research_all %>
</p>

<p>
  <strong>Honor all:</strong>
  <%= @privacypolicy.honor_all %>
</p>

<p>
  <strong>Tag all:</strong>
  <%= @privacypolicy.tag_all %>
</p>

<p>
  <strong>Followers all:</strong>
  <%= @privacypolicy.followers_all %>
</p>

<p>
  <strong>Followess all:</strong>
  <%= @privacypolicy.followess_all %>
</p>

<%= link_to 'Edit', edit_privacypolicy_path(@privacypolicy) %> |
<%= link_to 'Back', privacypolicies_path %>
