<div class="wrap-content container" id="container">
  <div class="container-fluid container-fullw padding-bottom-10">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-4 col-lg-4 ">
            <div class="panel panel-white no-radius" id="suggestions">
              <div class="panel-heading border-light">
                <h4 class="panel-title"> <%=t :what_happened%> </h4>
              </div>
              <div class="panel-body">
                <ul class="timeline-xs margin-top-15 margin-bottom-15">
                  <% for activity in Activity.where(user_id: current_user.friends.select(:id), activity_type: 'Create').order(created_at: :desc).limit(30)%>
                  <% @item = activity.target_type.classify.constantize.find_by_id(activity.target_id)%>
                  <% if !@item.blank?%>
                  <li class="timeline-item " style="border-right-color: <%= activity.user_id%>;">
                    <div class="margin-right-15">
                      <div class="text-muted text-small">
                        <%= JalaliDate.to_jalali(activity.created_at).day%>/ <%= JalaliDate.to_jalali(activity.created_at).month%>/ <%= JalaliDate.to_jalali(activity.created_at).year%>
                      </div>
                      <p>
                        <% @profile = activity.user.profile %>
                        <a class="text-info" href="profiles/profile_id=<%= @profile.id%>">
                          <%= @profile.name%> <%= @profile.surename%>
                        </a>
                        <%=t activity.target_type%> <%=t :named%> "<%= @item.name%>" <%=t :has_created%>
                      </p>
                    </div>
                  </li>
                  <%end%>
                  <%end%>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-4">
            <div class="panel panel-white no-radius" id="suggestions">
              <div class="panel-heading border-light">
                <h4 class="panel-title"> <%=t :suggested_for_you%> </h4>
              </div>
              <div collapse="visits" class="panel-wrapper">
                <div class="panel-body">
                  <i class=" ti-announcement"></i> <%=t :channels%>
                  <hr class='margin-top-0'/>
                  <ul class="messages-list relative top-0">
                    <% for sug in Suggestion.where(user_id: current_user.id, suggested_type: 'Channel').limit(3)%>
                    <% @ch =  sug.suggested_type.classify.constantize.find_by_id(sug.suggested_id)%>
                    <% if !@ch.blank?%>
                    <%= render partial: 'channels/item_n_remote', locals: {channel: @ch}%>
                    <%end%>
                    <%end%>
                  </ul>
                  <br />
                  <i class=" ti-face-smile"></i> <%=t :groups%>
                  <hr class='margin-top-0'/>
                  <ul class="messages-list relative top-0">
                    <% for sug in Suggestion.where(user_id: current_user.id, suggested_type: 'Group').limit(3)%>
                    <% @ch =  sug.suggested_type.classify.constantize.find_by_id(sug.suggested_id)%>
                    <% if !@ch.blank?%>
                    <%= render partial: 'groups/item_n_remote', locals: {group: @ch}%>
                    <%end%>
                    <%end%>
                    <br />
                    <i class=" ti-alarm-clock"></i> <%=t :events%>
                    <hr class='margin-top-0'/>
                    <ul class="messages-list relative top-0">
                      <% for sug in Suggestion.where(user_id: current_user.id, suggested_type: 'Event').limit(3)%>
                      <% @ch =  sug.suggested_type.classify.constantize.find_by_id(sug.suggested_id)%>
                      <% if !@ch.blank?%>
                      <%= render partial: 'events/item_n_remote', locals: {event: @ch}%>
                      <%end%>
                      <%end%>
                    </ul>
                    <br />
                    <i class=" ti-help"></i> <%=t :questions%>
                    <hr class='margin-top-0'/>
                    <ul class="messages-list relative top-0">
                      <% for sug in Suggestion.where(user_id: current_user.id, suggested_type: 'Question').limit(3)%>
                      <% @ch =  sug.suggested_type.classify.constantize.find_by_id(sug.suggested_id)%>
                      <% if !@ch.blank?%>
                      <%= render partial: 'questions/item_n_remote', locals: {question: @ch}%>
                      <%end%>
                      <%end%>
                    </ul>
                    <br />
                    <i class="fa fa-mortar-board"></i> <%=t :researches%>
                    <hr class='margin-top-0'/>
                    <ul class="messages-list relative top-0">
                      <% for sug in Suggestion.where(user_id: current_user.id, suggested_type: 'Research').limit(3)%>
                      <% @ch =  sug.suggested_type.classify.constantize.find_by_id(sug.suggested_id)%>
                      <% if !@ch.blank?%>
                      <%= render partial: 'researches/item_n_remote', locals: {research: @ch}%>
                      <%end%>
                      <%end%>
                    </ul>
                    <br />
                    <i class="ti-marker"></i> <%=t :projects%>
                    <hr class='margin-top-0'/>
                    <ul class="messages-list relative top-0">
                      <% for sug in Suggestion.where(user_id: current_user.id, suggested_type: 'Project').limit(3)%>
                      <% @ch =  sug.suggested_type.classify.constantize.find_by_id(sug.suggested_id)%>
                      <% if !@ch.blank?%>
                      <%= render partial: 'projects/item_n_remote', locals: {project: @ch}%>
                      <%end%>
                      <%end%>
                    </ul>
                    <br />
                    <i class="ti-blackboard"></i> <%=t :courses%>
                    <hr class='margin-top-0'/>
                    <ul class="messages-list relative top-0">
                      <% for sug in Suggestion.where(user_id: current_user.id, suggested_type: 'Course').limit(3)%>
                      <% @ch =  sug.suggested_type.classify.constantize.find_by_id(sug.suggested_id)%>
                      <% if !@ch.blank?%>
                      <%= render partial: 'courses/item_n_remote', locals: {course: @ch}%>
                      <%end%>
                      <%end%>
                    </ul>
                    <br />
                    <i class="fa fa-mortar-board"></i> <%=t :labs%>
                    <hr class='margin-top-0'/>
                    <ul class="messages-list relative top-0">
                      <% for sug in Suggestion.where(user_id: current_user.id, suggested_type: 'Lab').limit(3)%>
                      <% @ch =  sug.suggested_type.classify.constantize.find_by_id(sug.suggested_id)%>
                      <% if !@ch.blank?%>
                      <%= render partial: 'labs/item_n_remote', locals: {lab: @ch}%>
                      <%end%>
                      <%end%>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-lg-4">
              <div class="row">
                <%= render 'tags/bubble'%>

                <%= render 'home/personal_stat'%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
