<div class="app-content bg-white">
  <div class="container-fluid container-fullw bg-white">
    <div class="row">
      <div class="col-md-12">
        <h5 class="over-title margin-bottom-15"><%=t :registeration_wizard%></h5>
        <p>
          <%=t :please_fill_in_the_following_data%>
        </p>
        <div id="wizard" class="swMain">
          <%= render 'wizard_steps'%>
          <div class="row">
            <div class="col-md-5">
              <div class="padding-30">
                <%case params[:step] %>
                <%when  "0"%>
                <h2 class="StepTitle">
                  <i class="ti-user fa-2x text-primary block margin-bottom-10"></i>
                  <%=t :enter_your_personal_information%>
                </h2>
                <p>
                  <%t :step_1_content%>
                </p>
                <p class="text-small">
                  <%t :step_1_sub_content%>
                </p>
                <%when  "1"%>
                <h2 class="StepTitle">
                  <i class="ti-user fa-2x text-primary block margin-bottom-10"></i>
                  <%=t :enter_your_personal_information%>
                </h2>
                <p>
                  <%t :step_1_content%>
                </p>
                <p class="text-small">
                  <%t :step_1_sub_content%>
                </p>
                <%when  "2"%>
                <h2 class="StepTitle">
                  <i class=" ti-book fa-2x text-primary block margin-bottom-10"></i>
                  <%=t :enter_your_education_history%>
                </h2>
                <p>
                  <%t :step_2_content%>
                </p>
                <p class="text-small">
                  <%t :step_2_sub_content%>
                </p>
                <%when  "3"%>
                <h2 class="StepTitle">
                  <i class="ti-pencil-alt fa-2x text-primary block margin-bottom-10"></i>
                  <%=t :enter_your_research_history%>
                </h2>
                <p>
                  <%t :step_3_content%>
                </p>
                <p class="text-small">
                  <%t :step_3_sub_content%>
                </p>
                <%when  "4"%>
                <h2 class="StepTitle">
                  <i class=" ti-cup fa-2x text-primary block margin-bottom-10"></i>
                  <%=t :enter_your_honors%>
                </h2>
                <p>
                  <%=t :step_4_content%>
                </p>
                <p class="text-small">
                  <%=t :step_4_sub_content%>
                </p>
                <%when  "5"%>
                <h2 class="StepTitle">
                  <i class="ti-pulse fa-2x text-primary block margin-bottom-10"></i>
                  <%=t :enter_your_tags%>
                </h2>
                <p>
                  <%=t :step_5_content%>
                </p>
                <p class="text-small">
                  <%=t :step_5_sub_content%>
                </p>
                <%end%>

              </div>
            </div>
            <%case params[:step] %>
            <%when  "1"%>
            <%= render partial: 'profiles/reg_form', :object =>  @profile %>
            <%when  "2"%>
            <%= render partial: 'educations/reg_form', :object =>  @profile %>
            <%when  "3"%>
            <%= render partial: 'researches/reg_form', :object =>  @profile %>
            <%when  "4"%>
            <%= render partial: 'honors/reg_form', :object =>  @profile %>
            <%when  "5"%>
            <%= render partial: 'tags/reg_form', :object =>  @profile %>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
