<% participation = Participation.where(event_id: event.id, user_id: current_user.id).first%>
<div id='event-detail' >
  <% @e = DateTime.new(event.event_date.year, event.event_date.month, event.event_date.day, event.start_time.hour, event.start_time.min, 0, "+04:30")  %>
  <% @day = TimeDifference.between(Time.now, @e).in_days.to_i%>
  <% @hours = TimeDifference.between(Time.now, @e).in_hours.to_i - 24*@day%>
  <% @min = TimeDifference.between(Time.now, @e).in_minutes.to_i - 24*60*@day - @hours*60%>

  <div class="col-md-12 padding-right-0 padding-left-0">
    <div class="row">
      <div class="col-md-12 padding-right-0 padding-left-0">
        <% if @e < Time.now%>
        <div class="ribbon"><span><%=t :ended%></span></div>
        <%end%>
        <div class="col-sm-6  padding-right-0 padding-left-0">
          <div class="col-sm-3">
            <%= image_tag event.avatar(:thumb), :class => " messages-item-avatar bordered border-primary"%>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <%= event.name%>
            </div>
            <div class="row">
              <%=t :start_time%> <%= JalaliDate.to_jalali(event.event_date).day%>/ <%= JalaliDate.to_jalali(event.event_date).month%>/ <%= JalaliDate.to_jalali(event.event_date).year%>
              <%=t :start_time_ex%> <%= event.start_time.min%>: <%= event.start_time.hour%>
            </div>
            <div class="row">
              <%=t :end_time%> <%= JalaliDate.to_jalali(event.event_date).day%>/ <%= JalaliDate.to_jalali(event.event_date).month%>/ <%= JalaliDate.to_jalali(event.event_date).year%>
              <%=t :start_time_ex%><%= event.end_time.min%>: <%= event.end_time.hour%>
            </div>
            <div class='row'>
              <%=t :location%> <%= event.location%>
            </div>
          </div>
        </div>
        <div class="col-sm-5 padding-right-0 padding-left-0">

          <% if @e > Time.now%>
          <% if @day == 0%>
          <div class="row" style="direction: ltr; padding:0px; margin:0px;">
            <span class="counter counter-analog pull-right" data-direction="down" data-format="23:59:59"><%= @hours%>:<%= @min%>:00</span>
            <script>
            $('.counter').counter({});
            </script>
          </div>
          <%else%>
          <div class="row">
            <h4>  <%= @day%> <%=t :days %>  <%=t :and %> <%= @hours%><%=t :hours%> <%=t :and %> <%=t @min%> <%=t :minutes%> </h4>
          </div>
          <%end%>


          <%end%>
        </div>
        <div class="col-sm-1" style='margin-left:0px;'>
          <%= link_to event_path(event) do%>
          <i class="fa fa-cog"></i>
          <%end%>
        </div>
      </div>
    </div>
    <hr style='margin-top:10px; margin-bottom:5px;' />
  </div>
  <% @comments = Comment.where(commentable_type: 'Event', commentable_id: event.id).last(page*3)%>
  <%= render partial: 'events/event_comments', locals: {comments: @comments, event: event, page: page}%>

</div>
<script type="text/javascript">
var clock;

$(document).ready(function() {
  var currentDate = new Date();
  var futureDate  = new Date(<%= event.event_date.year%>, <%= event.event_date.month%>, <%= event.event_date.day%>, <%= event.start_time.hour%>, <%= event.start_time.min%>, <%= event.start_time.sec%>);
  var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;
  clock = $('.clock').FlipClock(diff, {
    language: 'ar',
    clockFace: 'DailyCounter',
    countdown: true
  });
});
</script>
