<div id='event-comments'>
  <div class="margin-top-5" style='font-size: 10px;'>
    <%=t :number_of_posts%>: (<%= @count = Comment.where(commentable_type: 'Event', commentable_id: event.id).count %>)
  </div>
  <%if @page.blank? %>
  <% @page = page.to_i%>
  <%end%>
  <% @page = @page + 1%>
  <% if @count > 4%>
  <div class="span12 text-center">  <%= link_to 'events/view_content/'+ event.id.to_s+'?page='+@page.to_s,:remote => true  do%><i class="fa fa-history"></i> <%=t :pervious_posts%> <%end%></div>
  <%end%>
  <div class="timeline-centered">
    <% for comment in comments%>
    <article class="timeline-entry">
      <div class="timeline-entry-inner">
        <div class="timeline-icon">
          <%= image_tag comment.user.profile.avatar(:thumb), :class => "messages-item-avatar bordered border-primary"%>
        </div>
        <div class="timeline-label">
          <h2><%= link_to comment.user.profile do%><%= comment.user.profile.name%> <%= comment.user.profile.surename%><%end%></h2>
          <% if current_user.id == comment.user.id%>
          <a class='xedit-text' href="#" id="cm<%=comment.id%>" data-type="text" data-pk="1" data-url="/comments/xedit/<%= comment.id%>" data-title="Enter username">
            <%= comment.content%>
          </a>
          <script>
          $.fn.editable.defaults.mode = 'inline';
          $.fn.editable.defaults.ajaxOptions = {type: "GET"};
          $(document).ready(function() {
            $("#cm<%=comment.id%>").editable({

            });
          });
          </script>
          <%else%>
          <p><%= comment.content%></p>
          <%end%>

          <div class='trash'>
            <%= link_to 'comments/'+ comment.id.to_s + '?page='+@page.to_s, :method => :delete, :remote => true, data: {confirm: "Are you sure?"}  do %>
            <i class="fa fa-trash-o"></i>
            <%end%>
          </div>

        </div>
      </div>
    </article>
    <%end%>
  </div>
</div>
