
<div class="col-md-12 padding-right-0 padding-left-0" >
  <div class=" col-md-4 padding-right-0 padding-left-0 " >
    <div class="tabbable padding-right-0 padding-left-0 ">
      <ul id="myTab1" class="nav nav-tabs">
        <li class="">
          <a href="#myTab1_example1" data-toggle="tab" aria-expanded="false">
            <%=t :events_you_joined%>
          </a>
        </li>
        <li class="active">
          <a href="#myTab1_example2" data-toggle="tab" aria-expanded="false">
            <%=t :popular_events%>
          </a>
        </li>
        <li class="">
          <a href="#myTab1_example3" data-toggle="tab" aria-expanded="true">
            <%=t :events_you_manage%>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade" id="myTab1_example1">
          <ul class="list-group">
            <%= link_to new_event_path do%>
            <li class="list-group-item">
              <i class="fa fa-plus"></i> <%=t :add_new_event%>
            </li>
            <%end%>
          </ul>
          <ul class="messages-list relative top-0">
            <% for e in current_user.events%>
            <%= render partial: 'events/item', locals: {event: e}%>
            <%end%>
          </ul>


        </div>
        <div class="tab-pane fade" id="myTab1_example2">

        </div>
        <div class="tab-pane fade active in" id="myTab1_example3">

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7 padding-right-0 padding-left-0" >
    <div class="panel panel-white no-radius" id="visits">
      <div class="panel-heading border-light">
        <h4 class="panel-title"></h4>
        <ul class="panel-heading-tabs border-light">
          <li class="panel-tools">
            <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="ti-reload"></i></a>
          </li>
        </ul>
      </div>
      <div collapse="visits" class="panel-wrapper">
        <div class="panel-body">
          <div class="height-350">
            <div id='event-detail'>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
