<div class="wrap-content container padding-right-0" id="container">
  <div class="col-md-12 padding-right-0 padding-left-0" >
    <div class=" col-md-4 padding-right-0 padding-left-0 " >
      <div class="tabbable padding-right-0 padding-left-0 ">
        <ul id="myTab1" class="nav nav-tabs">
          <li class="active">
            <a href="#my_events" data-toggle="tab" aria-expanded="false">
              <i class="fa fa-chain"></i>
              <%t :events_you_joined%>
            </a>
          </li>
          <li class="">
            <a href="#top_events" data-toggle="tab" aria-expanded="false">
              <i class="fa fa-trophy"></i>
              <%t :popular_events%>
            </a>
          </li>
          <li class="">
            <a href="#related_events" data-toggle="tab" aria-expanded="true">
              <i class="fa fa-plug"></i>
              <%t :events_you_manage%>
            </a>
          </li>
          <li class="">
            <a href="#search_events" data-toggle="tab" aria-expanded="true">
              <i class="fa fa-search"></i>
              <%t :events_you_manage%>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade active in" id="my_events">
              <% if grant_access('create_event', current_user)%>
            <ul class="list-group">
              <%= link_to new_event_path do%>
              <li class="list-group-item">
                <i class="fa fa-plus"></i> <%=t :new_event%>
              </li>
              <%end%>
            </ul>
            <%end%>
            <span><i class="fa fa-hand-o-left" style='vertical-align:middle'></i>  <%=t :events_you_joined%></span>
            <hr style="margin-top:0px; margin-bottom:0px;">
            <ul class="messages-list relative top-0 margin-bottom-5">
              <% for pr in Participation.where(user_id: current_user.id)%>
              <%= render partial: 'events/item', locals: {event: pr.event}%>
              <%end%>
            </ul>
            <span><i class="fa fa-hand-o-left" style='vertical-align:middle'></i> <%=t :events_you_manage%></span>
            <hr style="margin-top:0px; margin-bottom:0px;">
            <ul class="messages-list relative top-0 margin-bottom-5">
              <% for pr in Participation.where(user_id: current_user.id, role: 1)%>
              <%= render partial: 'events/item', locals: {event: pr.event}%>
              <%end%>
            </ul>
          </div>
          <div class="tab-pane fade" id="top_events">
            <span><i class="fa fa-hand-o-left" style='vertical-align:middle'></i> <%=t :popular_events%></span>
            <ul class="messages-list relative top-0">
              <% @j = 0%>
              <% for i in Participation.group('event_id').order('count_id desc').count('id')%>
              <% if @j < 10%>
              <%= render partial: 'events/item', locals: {event: Event.find(i[0])}%>
              <%end%>
              <% @j = @j+1%>
              <%end%>
            </ul>

            <span><i class="fa fa-hand-o-left" style='margin-top:10px; vertical-align:middle'></i>  <%=t :newest_events%></span>
            <hr style="margin-top:0px; margin-bottom:0px;">
            <ul class="messages-list relative top-0">
              <% for event in Event.all.order("id desc").limit(5).reverse%>
                <%= render partial: 'events/item', locals: {event: event}%>
              <%end%>
            </ul>
          </div>
          <div class="tab-pane fade " id="related_events">
            <p class="margin-top-10"><i class="fa fa-hand-o-left" style='vertical-align:middle'></i><%=t :related_events%></p>
            <hr style="margin-top:0px; margin-bottom:0px;">
            <ul class="messages-list relative top-0">
              <% for sug in Suggestion.where(user_id: current_user.id, suggested_type: 'Event')%>
              <% @ev =  sug.suggested_type.classify.constantize.find_by_id(sug.suggested_id)%>
              <% if !@ev.blank?%>
              <%= render partial: 'events/item', locals: {event: @ev}%>
              <%end%>
              <%end%>
            </ul>
          </div>
          <div class="tab-pane fade " id="search_events">
            <% if grant_access('search_events', current_user)%>
            <div>
              <%= form_tag '/events/search/1',:method => :get,:remote => :true, :class => "navbar-form" do%>
              <div class="form-group">
                <%= text_field_tag :q, '' , {:class=>"form-control", :id => "nav-search-input", :placeholder => "#{t(:search)}"}%>

                <button class="btn search-button" type="submit">
                  <i class="ti-search"></i>
                </button>

              </div>
              <%end%>
            </div>
            <div id='search-results'></div>
            <%end%>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 padding-right-0 padding-left-0" >
      <div class="panel panel-white no-radius">
        <div class="panel-heading border-light">
          <h4 class="panel-title"></h4>
          <ul class="panel-heading-tabs border-light">
            <li class="panel-tools">
              <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="ti-reload"></i></a>
            </li>
          </ul>
        </div>
        <div class="panel-body border-light">
            <div id='event-detail'>
              <% if !@event.blank?%>
              <% @page = 1%>
              <%= render(:partial => 'events/detail', locals: {event: @event, page:@page }) %>
              <%end%>
            </div>
        </div>
        <% if grant_access('comment_on_events', current_user)%>
        <div id='cm' class="panel-footer border-light">

        </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
