<div class="row">
  <div class="col-md-2">
      <%= render partial: 'votes/votes_block', locals:{c:answer}%>
  </div>
  <div class="col-md-10">
    <div class="row">
    <div class="col-md-2 text-small text-center padding-right-0 padding-left-0">
      <%= image_tag answer.user.profile.avatar(:thumb), :class => "messages-item-avatar bordered border-primary"%>
      <p style='font-size: 10px;'><%= answer.user.profile.name %> <%= answer.user.profile.surename %>  </p>
    </div>
    <div class="col-md-8 padding-right-0 padding-left-0">
      <span class="margin-right-5"><small><%= answer.content%></small></span>
    </div>
    <div class="col-md-1">
      <% if answer.user_id == current_user.id || answer.question.user_id == current_user.id%>
      <%= link_to 'answers/'+ answer.id.to_s, :method => :delete, data: {confirm: "Are you sure?"}  do %>
        <i class="fa fa-trash-o" style="color: #007AFF !important;"></i>
      <%end%>
      <%end%>
    </div>
    </div>
    <hr class="margin-bottom-5"/>
    <% if grant_access('comment_on_answers', current_user)%>
    <%= render partial: 'comments/comments_block', locals:{c:answer, page: 1}%>
    <%end%>
  </div>
</div>
<hr />
