<p id="notice"><%= notice %></p>

<h1>Listing Notification Settings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Channel updates</th>
      <th>Involvement</th>
      <th>Blog updates</th>
      <th>Group updates</th>
      <th>Grouping</th>
      <th>Event updates</th>
      <th>Participation</th>
      <th>Question updates</th>
      <th>Question comments</th>
      <th>Answers comments</th>
      <th>Project task</th>
      <th>Partnership</th>
      <th>Offsession</th>
      <th>Membership</th>
      <th>Announcement</th>
      <th>Contribution</th>
      <th>Research ranking</th>
      <th>Research comments</th>
      <th>Poll</th>
      <th>Messages</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notification_settings.each do |notification_setting| %>
      <tr>
        <td><%= notification_setting.user_id %></td>
        <td><%= notification_setting.channel_updates %></td>
        <td><%= notification_setting.involvement %></td>
        <td><%= notification_setting.blog_updates %></td>
        <td><%= notification_setting.group_updates %></td>
        <td><%= notification_setting.grouping %></td>
        <td><%= notification_setting.event_updates %></td>
        <td><%= notification_setting.participation %></td>
        <td><%= notification_setting.question_updates %></td>
        <td><%= notification_setting.question_comments %></td>
        <td><%= notification_setting.answers_comments %></td>
        <td><%= notification_setting.project_task %></td>
        <td><%= notification_setting.partnership %></td>
        <td><%= notification_setting.offsession %></td>
        <td><%= notification_setting.membership %></td>
        <td><%= notification_setting.announcement %></td>
        <td><%= notification_setting.contribution %></td>
        <td><%= notification_setting.research_ranking %></td>
        <td><%= notification_setting.research_comments %></td>
        <td><%= notification_setting.poll %></td>
        <td><%= notification_setting.messages %></td>
        <td><%= link_to 'Show', notification_setting %></td>
        <td><%= link_to 'Edit', edit_notification_setting_path(notification_setting) %></td>
        <td><%= link_to 'Destroy', notification_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification setting', new_notification_setting_path %>
