<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @notification_setting.user_id %>
</p>

<p>
  <strong>Channel updates:</strong>
  <%= @notification_setting.channel_updates %>
</p>

<p>
  <strong>Involvement:</strong>
  <%= @notification_setting.involvement %>
</p>

<p>
  <strong>Blog updates:</strong>
  <%= @notification_setting.blog_updates %>
</p>

<p>
  <strong>Group updates:</strong>
  <%= @notification_setting.group_updates %>
</p>

<p>
  <strong>Grouping:</strong>
  <%= @notification_setting.grouping %>
</p>

<p>
  <strong>Event updates:</strong>
  <%= @notification_setting.event_updates %>
</p>

<p>
  <strong>Participation:</strong>
  <%= @notification_setting.participation %>
</p>

<p>
  <strong>Question updates:</strong>
  <%= @notification_setting.question_updates %>
</p>

<p>
  <strong>Question comments:</strong>
  <%= @notification_setting.question_comments %>
</p>

<p>
  <strong>Answers comments:</strong>
  <%= @notification_setting.answers_comments %>
</p>

<p>
  <strong>Project task:</strong>
  <%= @notification_setting.project_task %>
</p>

<p>
  <strong>Partnership:</strong>
  <%= @notification_setting.partnership %>
</p>

<p>
  <strong>Offsession:</strong>
  <%= @notification_setting.offsession %>
</p>

<p>
  <strong>Membership:</strong>
  <%= @notification_setting.membership %>
</p>

<p>
  <strong>Announcement:</strong>
  <%= @notification_setting.announcement %>
</p>

<p>
  <strong>Contribution:</strong>
  <%= @notification_setting.contribution %>
</p>

<p>
  <strong>Research ranking:</strong>
  <%= @notification_setting.research_ranking %>
</p>

<p>
  <strong>Research comments:</strong>
  <%= @notification_setting.research_comments %>
</p>

<p>
  <strong>Poll:</strong>
  <%= @notification_setting.poll %>
</p>

<p>
  <strong>Messages:</strong>
  <%= @notification_setting.messages %>
</p>

<%= link_to 'Edit', edit_notification_setting_path(@notification_setting) %> |
<%= link_to 'Back', notification_settings_path %>
