<div class="wrap-content container" id="container">
  <!-- start: PAGE TITLE -->
  <section id="page-title">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="mainTitle"><%= t(:new_poll)%></h1>
        <span class="mainDescription"><%= t(:please_enter_new_poll_data)%></span>
      </div>
      <ol class="breadcrumb">
        <li>
          <span></span>
        </li>
        <li class="active">
          <span></span>
        </li>
      </ol>
    </div>
  </section>
  <div class="container-fluid container-fullw bg-white">
    <div class="row">
      <div class="col-md-12">
        <h5 class="over-title"> <span class="text-bold"></span></h5>
        <div class="panel panel-white">
          <div class="panel-body">
            <%= form_for(@poll) do |f| %>
            <% if @poll.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

              <ul>
                <% @poll.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
            <% end %>

            <div class="row">
              <div class="form-group col-xs-10">
                <%= f.label :title %><br>
                <%= f.text_field :title , id: 'title', :class => "form-control" %>
              </div>
            </div>

            <style>
            .ui-helper-hidden-accessible { position: absolute; left:-999em; }
            </style>

            <%=t :tags%><br />
            <% @tags = []%>
            <% for tagging in @poll.taggings%>
              <% @tags << Tag.find(tagging.tag_id).title%>
            <%end%>
            <div class="col-xs-6 padding-right-0 margin-top-5 rtl">
                <input type="text"  id="tokenfield" value="<%= @tags.join(',')%>" placeholder="" tabindex="-1" >
            </div>
            <div class="row">
            <input type="hidden" id='tags' name="tags" value="">
          </div>



            <div class="row top30">
              <div class="form-group col-xs-1 pull-left">
                <%= content_tag :button, :type => :submit,id: 'subbtn', :class => "btn btn-o btn-primary" do %>
                <i class="icon-ok bigger-110"></i>
                <%=t :submit%>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

$('#tokenfield')

.on('tokenfield:createtoken', function (e) {
    var data = e.attrs.value.split('|')
    $("#tags").val(function() {
    return this.value + ',' +data;
    });
  })


  .on('tokenfield:edittoken', function (e) {
    var data = e.attrs.value.split('|')
    var prev = $("#tags").val().split(',')
    $("#tags").val('');
    for (var i in prev) {
      if (prev[i].toString() !== data.toString()){
        console.log(prev[i]);
        $("#tags").val(function() {
        return this.value + ',' +prev[i];
        });
      }
      }
  })

  .on('tokenfield:removedtoken', function (e) {
    var data = e.attrs.value.split('|')
    var prev = $("#tags").val().split(',')
    $("#tags").val('');
    for (var i in prev) {
      if (prev[i].toString() !== data.toString()){
        console.log(prev[i]);
        $("#tags").val(function() {
        return this.value + ',' +prev[i];
        });
      }
      }
  })





.tokenfield({

  autocomplete: {
    source: function( request, response ) {
        $.ajax({
          url: "/tags/remoteq/1",
          dataType: "jsonp",
          data: {
            q: request.term
          },
          success: function( data ) {
            response( data );
          }
        });
      },
      minLength: 1,
      delay: 30
  },
  showAutocompleteOnFocus: true
})
</script>
