<div class="wrap-content container" id="container">
  <!-- start: PAGE TITLE -->
  <section id="page-title">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="mainTitle"><%= t(:new_project)%></h1>
        <span class="mainDescription"><%= t(:please_enter_new_project_data)%></span>
      </div>
      <ol class="breadcrumb">
        <li>
          <span></span>
        </li>
        <li class="active">
          <span></span>
        </li>
      </ol>
    </div>
  </section>
  <div class="container-fluid container-fullw bg-white">
    <div class="row">
      <div class="col-md-12">
        <h5 class="over-title"> <span class="text-bold"></span></h5>
        <div class="panel panel-white">
          <div class="panel-body">
            <%= form_for(@project) do |f| %>
            <% if @project.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

              <ul>
                <% @project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
            <% end %>


            <div class="row">
                <div class="form-group col-xs-4">
                  <%= f.label :name %><br>
                  <%= f.text_field :name , :class => "form-control" %>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
              <%= f.label :aims %><br>
              <%= f.text_area :aims , :class => "form-control" %>
              </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-6">
              <%= f.label :project_type %><br>
              <%= f.select( :project_type, project_types, {}, {:class => "form-control"})  %>
              <% f.text_area :project_type , :class => "form-control" %>
              </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-6">
              <%= f.label :definition %><br>
              <%= f.text_area :definition , :class => "form-control" %>
              </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-6">
              <%= f.label :novelties %><br>
              <%= f.text_area :novelties , :class => "form-control" %>
              </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-6">
              <%= f.label :methods %><br>
              <%= f.text_area :methods , :class => "form-control" %>
              </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-6">
              <%= f.label :standards %><br>
              <%= f.text_area :standards , :class => "form-control" %>
              </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-6">
              <%= f.label :outputs %><br>
              <%= f.text_area :outputs , :class => "form-control" %>
              </div>
            </div>



            <div class="row top30">
              <div class="form-group col-xs-1 pull-left">
                <%= content_tag :button, :type => :submit, :class => "btn btn-o btn-primary" do %>
                <i class="icon-ok bigger-110"></i>
                <%=t :submit%>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
