<% @random_string = SecureRandom.hex%>
<li class="messages-item padding-5 <%= @bg%>" id='<%=@random_string %>'>
  <%= link_to 'projects/view_content/'+ project.id.to_s+'?rnd='+@random_string,:remote => true  do%>
  <%= image_tag project.avatar(:thumb), :class => "messages-item-avatar bordered border-primary"%>
  <span class="messages-item-from"><%= project.name%></span>
  <div class="messages-item-time">
    <span class="text">
      <% link_to edit_project_path(project) do%>
        <%=t :edit%>
      <%end%>
    </span>
  </div>
  <span class="messages-item-subject"></span>
  <span class="messages-item-content"><%= truncate(project.aims, :length => 20)%></span>
  <%end%>
  <div class="messages-item-time" style="margin-top:10px">
    <% @fl = Followship.where(user_id: current_user.id, followable_id: project.id, followable_type: 'Project').first%>
    <% if !@fl.blank? %>
    <div id='<%= @random_string%>-label'>
      <% @v = Visit.where(user_id: current_user.id, visitable_id: project.id, visitable_type: 'Project').first%>
      <% if !@v.blank?%>
      <% @count = project.tasks.where("created_at > ?", @v.created_at ).count%>
      <% if @count > 0%>
      <span class="label label-info pull-left" style="color: white;"><%= @count%></span>
      <% end%>
      <%else%>
      <% @count = project.tasks.count%>
      <% if @count > 0%>
      <span class="label label-info pull-left" style="color: white;"><%= @count%></span>
      <% end%>
      <%end%>
    </div>
    <%end%>
  </div>
</li>
