<div id='course-detail'>
  <div class="col-md-8 padding-right-0 padding-left-0">
    <div class="tabbable">
      <ul class="nav nav-tabs tab-padding tab-space-3 tab-blue" id="myTab4">
        <li class="active">
          <a data-toggle="tab" href="#projects">
            <%= t(:detail)%>
          </a>
        </li>
        <li class="" >
          <a data-toggle="tab" href="#offerings">
            <%= t(:offerings)%>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="projects" class="tab-pane fade in active">
          <div class="row">
            <div class="col-sm-5 col-md-4">
              <div class="user-left">
                <div class="center">
                  <div style='margin: 0 auto; display: inline-block;'><%= image_tag course.avatar(:medium), :class => "img-responsive"%></div>
                  <h4><%= course.name%></h4>
                  <div class="col-sm-12" style="margin-top:10px;margin-bottom:10px;">
                    <% if course.user_id == current_user.id%>
                    <div class="row">
                      <%= link_to edit_course_path(course.id) do %>
                      <button type="button" class="btn btn-light-azure btn-squared btn-xs">
                        <i class="fa fa-edit" style="color: white !important;vertical-align: middle;"></i> &nbsp <%= t(:edit)%>&nbsp
                      </button>
                      <%end%>
                    </div>

                    <div class="row" style='margin-top:1px;'>
                      <%= link_to '/courses/'+ course.id.to_s, :method => :delete, data: {confirm: "Are you sure?"}  do %>

                      <button type="button" class="btn btn-light-blue btn-squared btn-xs">
                        <i class="fa fa-trash-o" style="color: white !important;vertical-align: middle;"></i> <%= t(:delete)%>
                      </button>
                      <%end%>
                    </div>
                    <%end%>
                    <div class="row" style='margin-top:1px;'>
                      <% render partial: '/followships/follow', locals:{item: course}%>
                    </div>
                  </div>
                  <hr>

                </div>
                <br />
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th colspan="3"><% t(:personal_information)%></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= t(:course_type)%></td>
                      <td><%= course.course_type%></td>
                    </tr>
                    <tr>
                      <td><%= t(:course_field)%></td>
                      <td><%= course.course_field%> </td>
                    </tr>
                    <tr>
                      <td><%= t(:course_grade)%></td>
                      <td><%= course.course_grade%> </td>
                    </tr>
                    <tr>
                      <td><%= t(:course_points)%></td>
                      <td><%= course.course_points%> </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-sm-7 col-md-8">
              <div class="panel panel-white" id="">
                <div class="panel-heading border-light">
                  <h4 class="panel-title text-primary"><%= t(:course_characteristics)%></h4>
                  <paneltool class="panel-tools" tool-collapse="tool-collapse" tool-refresh="load1" tool-dismiss="tool-dismiss"></paneltool>
                </div>
                <div collapse="activities" ng-init="activities=false" class="panel-wrapper">
                  <div class="panel-body">

                    <h5 class="over-title margin-bottom-15"><%=t :tags%></span></h5>
                    <% for tagging in course.taggings%>
                    <span class="label label-success">
                      <%= Tag.find(tagging.tag_id).title%>
                    </span>
                    <%end%>
                    <hr/>

                    <h5 class="over-title margin-bottom-15"><%=t :course_targets%></span></h5>
                    <%= course.course_targets%>
                    <hr/>

                    <h5 class="over-title margin-bottom-15"><%=t :course_results%></span></h5>
                    <%= course.course_results%>
                    <hr/>

                    <h5 class="over-title margin-bottom-15"><%=t :course_covered%></span></h5>
                    <%= course.course_covered%>
                    <hr/>

                    <h5 class="over-title margin-bottom-15"><%=t :course_softwares%></span></h5>
                    <%= course.course_softwares%>
                    <hr/>

                    <h5 class="over-title margin-bottom-15"><%=t :garding_mechanism%></span></h5>
                    <%= course.garding_mechanism%>
                    <hr/>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="offerings" class="tab-pane fade">
            <%= render(:partial => 'offerings/list', locals: {course: course }) %>
            <% if course.user.id == current_user.id%>
            <% @offering = Offering.new%>
            <%= render partial: 'offerings/form', locals: {offering: @offering, course: course}%>
            <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
