<div class="wrap-content container" id="container">
  <!-- start: PAGE TITLE -->
  <section id="page-title">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="mainTitle"><%= t(:categories)%></h1>
        <span class="mainDescription"><%= t(:list_of_categories)%></span>
      </div>
      <ol class="breadcrumb">
        <li>
          <span></span>
        </li>
        <li class="active">
          <span></span>
        </li>
      </ol>
    </div>
  </section>

  <div class="container-fluid container-fullw bg-white">


    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th><%= t(:name)%></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= link_to t(:show), category %></td>
            <td><%= link_to t(:edit), edit_category_path(category) %></td>
            <td><%= link_to t(:destroy), category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pull-left">
        <%= link_to new_category_path,  :class => "btn btn-wide btn-o btn-success" do %>
        <i class="icon-ok bigger-110"></i>
        <%=t :new%>
        <% end %>
      </div>
    </div>
  </div>
</div>
