<%= form_for(@tagging) do |f| %>
  <% if @tagging.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tagging.errors.count, "error") %> prohibited this tagging from being saved:</h2>

      <ul>
      <% @tagging.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :taggable_id %><br>
    <%= f.number_field :taggable_id %>
  </div>
  <div class="field">
    <%= f.label :taggable_type %><br>
    <%= f.text_field :taggable_type %>
  </div>
  <div class="field">
    <%= f.label :tag_id %><br>
    <%= f.number_field :tag_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
