<div class="wrap-content container" id="container">
  <!-- start: PAGE TITLE -->
  <section id="page-title">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="mainTitle"><%= t(:activity_list)%></h1>
        <span class="mainDescription"><% t(:please_enter_new_channel_data)%></span>
      </div>
      <ol class="breadcrumb">
        <li>
          <span></span>
        </li>
        <li class="active">
          <span></span>
        </li>
      </ol>
    </div>
  </section>
  <div class="container-fluid container-fullw bg-white">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class='col-md-6'>
            <%= form_tag '/profiles/search/1',:method => :get,:remote => :true do%>
            <div class="input-group">
              <%= text_field_tag :q, '' , {:class=>"form-control", :id => "nav-search-input", :placeholder => "#{t(:search)}"}%>
              <%= hidden_field_tag 'caller', 'addtogroup'%>
              <%= hidden_field_tag 'class', 'Activity'%>
              <%= hidden_field_tag 'class_id', 1%>
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" >
                  <i class="fa fa-search fa-fw" style=" vertical-align: middle;"></i> <%= t(:search)%>
                </button>
              </span>
            </div>
            <%end%>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <fieldset>
              <legend>
                <%= t(:search_results)%>
              </legend>

              <% @profiles = {}%>
              <%= render partial: 'profiles/compactlist', locals: {profiles: @profiles, item: Activity.first}%>
            </fieldset>
          </div>
          <div id='activitylist'>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
