<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @education.name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @education.grade %>
</p>

<p>
  <strong>City:</strong>
  <%= @education.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @education.country %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
