<div class="panel">
  <% if lab.user_id == current_user.id%>
  <div class="row">
    <div class='col-md-6'>
      <%= form_tag '/profiles/search/1',:method => :get,:remote => :true do%>
      <div class="input-group">
        <%= text_field_tag :q, '' , {:class=>"form-control", :id => "nav-search-input", :placeholder => "#{t(:search)}"}%>
        <%= hidden_field_tag 'caller', 'addtogroup'%>
        <%= hidden_field_tag 'class', 'Lab'%>
        <%= hidden_field_tag 'class_id', lab.id%>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" >
            <i class="fa fa-search fa-fw" style=" vertical-align: middle;"></i> <%= t(:search)%>
          </button>
        </span>
      </div>
      <%end%>
    </div>
  </div>
  <%end%>
  <div class="row">
    <% if lab.user_id == current_user.id%>
    <div class="col-md-6">
      <fieldset>
        <legend>
          <%= t(:search_results)%>
        </legend>
        <% @profiles = {}%>
        <%= render partial: 'profiles/compactlist', locals: {profiles: @profiles, item: lab}%>
      </fieldset>
    </div>
    <%end%>
    <div class="col-md-6">
      <fieldset>
        <legend>
          <%= t(:users_in_lab)%>
        </legend>
        <%= render partial: 'memberships/list', locals: {lab: lab}%>
      </fieldset>
    </div>
  </div>
</div>
