<p id="notice"><%= notice %></p>

<h1>Listing Mobilesettings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Securephrase</th>
      <th>Access via mobile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mobilesettings.each do |mobilesetting| %>
      <tr>
        <td><%= mobilesetting.user_id %></td>
        <td><%= mobilesetting.securephrase %></td>
        <td><%= mobilesetting.access_via_mobile %></td>
        <td><%= link_to 'Show', mobilesetting %></td>
        <td><%= link_to 'Edit', edit_mobilesetting_path(mobilesetting) %></td>
        <td><%= link_to 'Destroy', mobilesetting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mobilesetting', new_mobilesetting_path %>
