<header class="navbar navbar-default navbar-static-top">
  <!-- start: NAVBAR HEADER -->
  <div class="navbar-header">
    <a href="#" class="sidebar-mobile-toggler pull-right hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
      <i class="ti-align-justify"></i>
    </a>
    <a class="navbar-brand" href="#">
      <img src="/assets/logo.png" alt="Clip-Two"/>
    </a>
    <a href="#" class="sidebar-toggler pull-left visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
      <i class="ti-align-justify"></i>
    </a>
    <a class="pull-left menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <i class="ti-view-grid"></i>
    </a>
  </div>
  <!-- end: NAVBAR HEADER -->
  <!-- start: NAVBAR COLLAPSE -->
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-right">

      <!-- start: USER OPTIONS DROPDOWN -->
      <li class="dropdown current-user">
        <a href class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag current_user.profile.avatar(:thumb)%>
          <span class="username"><%= current_user.profile.name %><i class="ti-angle-down"></i></i></span>
        </a>
        <ul class="dropdown-menu dropdown-dark">
          <li>
            <%= link_to current_user.profile do%>
              <%=t :my_profile%>
            <%end%>
          </li>
          <li>
            <a href="/users/sign_out">
              <%=t :logout%>
            </a>
          </li>
        </ul>
      </li>
      <!-- end: USER OPTIONS DROPDOWN -->
    </ul>
    <script>
    $(document).ready(function() {
    $(".dropdown-toggle").dropdown();
});
    </script>
    <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
    <div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
      <div class="arrow-left"></div>
      <div class="arrow-right"></div>
    </div>
    <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
  </div>
  <a class="dropdown-off-sidebar" data-toggle-class="app-offsidebar-open" data-toggle-target="#app" data-toggle-click-outside="#off-sidebar">
    &nbsp;
  </a>
  <!-- end: NAVBAR COLLAPSE -->
</header>
