<div class="sidebar app-aside" id="sidebar">
  <div class="sidebar-container perfect-scrollbar">
    <nav>
      <!-- start: SEARCH FORM -->
      <div class="search-form">
        <a class="s-open" href="#">
          <i class="ti-search"></i>
        </a>
        <%= form_tag '/advanced_search',:method => :get,:remote => :true, :class => "navbar-form" do%>
        <div class="form-group">
          <%= text_field_tag :q, '' , {:class=>"form-control", :id => "nav-search-input", :placeholder => "#{t(:search)}"}%>

          <button class="btn search-button" type="submit">
            <i class="ti-search"></i>
          </button>
        </div>
        <%end%>
        <!--  <form class="navbar-form" role="search">
        <a class="s-remove" href="#" target=".navbar-form">
        <i class="ti-close"></i>
      </a>
      <div class="form-group">

      <input type="text" class="form-control" placeholder="<%= t(:search)%>">
      <button class="btn search-button" type="submit">
      <i class="ti-search"></i>
    </button>
  </div>
</form>-->
</div>
<!-- end: SEARCH FORM -->
<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
  <span><%= t(:main_menu)%></span>
</div>

<ul class="main-navigation-menu">
  <li  <% if params[:controller] == 'blogs'%> <%= "class = active "%> <%end%>>
    <a href="/blogs">
      <div class="item-content">
        <div class="item-media">
          <i class=" ti-pencil-alt"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:blogs)%></span>
        </div>
      </div>
    </a>
  </li>

  <li  <% if params[:controller] == 'channels'%> <%= "class = active "%> <%end%>>
    <a href="/channels">
      <div class="item-content">
        <div class="item-media">
          <i class=" ti-announcement"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:channels)%></span>
        </div>
      </div>
    </a>
  </li>

  <li <% if params[:controller] == 'groups'%> <%= "class = active "%> <%end%>>
    <a href="/groups">
      <div class="item-content">
        <div class="item-media">
          <i class=" ti-face-smile"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:groups)%></span>
        </div>
      </div>
    </a>
  </li>

  <li <% if params[:controller] == 'events'%> <%= "class = active "%> <%end%>>
    <a href="/events">
      <div class="item-content">
        <div class="item-media">
          <i class="ti-alarm-clock"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:events)%></span>
        </div>
      </div>
    </a>
  </li>

  <li <% if params[:controller] == 'questions'%> <%= "class = active "%> <%end%>>
    <a href="/questions">
      <div class="item-content">
        <div class="item-media">
          <i class="ti-help"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:qna)%></span>
        </div>
      </div>
    </a>
  </li>

  <li <% if params[:controller] == 'projects'%> <%= "class = active "%> <%end%>>
    <a href="/projects">
      <div class="item-content">
        <div class="item-media">
          <i class="ti-marker"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:projects)%></span>
        </div>
      </div>
    </a>
  </li>


  <li <% if params[:controller] == 'courses'%> <%= "class = active "%> <%end%>>
    <a href="/courses">
      <div class="item-content">
        <div class="item-media">
          <i class="ti-blackboard"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:courses)%></span>
        </div>
      </div>
    </a>
  </li>


  <li <% if params[:controller] == 'labs'%> <%= "class = active "%> <%end%>>
    <a href="/labs">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-flask"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:labs)%></span>
        </div>
      </div>
    </a>
  </li>

  <li <% if params[:controller] == 'courses'%> <%= "class = active "%> <%end%>>
    <a href="/goods">
      <div class="item-content">
        <div class="item-media">
          <i class="ti-shopping-cart"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:bazar)%></span>
        </div>
      </div>
    </a>
  </li>


  <li <% if params[:controller] == 'profiles'%> <%= "class = active "%> <%end%>>
    <a href="/profiles">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-user"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:pepole)%></span>
        </div>
      </div>
    </a>
  </li>
  <li <% if params[:controller] == 'messages'%> <%= "class = active "%> <%end%>>
    <a href="/messages">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-envelope-o"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:messages)%></span>
        </div>
      </div>
    </a>
  </li>
  <li class="">
    <a href="javascript:void(0)">
      <div class="item-content">
        <div class="item-media">
          <i class="ti-settings"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:settings)%></span><i class="icon-arrow"></i>
        </div>
      </div>
    </a>
    <ul class="sub-menu" style="display: none;">
      <li>
        <a href="/categories">
          <span><%= t(:categories_of_bazar)%></span>
        </a>
      </li>
    </li>
  </ul>
</nav>
</div>
</div>
