<div class="sidebar app-aside" id="sidebar">
  <div class="sidebar-container perfect-scrollbar">
    <nav>
      <!-- start: SEARCH FORM -->
      <div class="search-form">
        <a class="s-open" href="#">
          <i class="ti-search"></i>
        </a>
        <%= form_tag '/advanced_search',:method => :get,:remote => :true, :class => "navbar-form" do%>
        <div class="form-group">
          <%= text_field_tag :q, '' , {:class=>"form-control", :id => "nav-search-input", :placeholder => "#{t(:search)}"}%>

          <button class="btn search-button" type="submit">
            <i class="ti-search"></i>
          </button>
        </div>
        <%end%>
        <!--  <form class="navbar-form" role="search">
        <a class="s-remove" href="#" target=".navbar-form">
        <i class="ti-close"></i>
      </a>
      <div class="form-group">

      <input type="text" class="form-control" placeholder="<%= t(:search)%>">
      <button class="btn search-button" type="submit">
      <i class="ti-search"></i>
    </button>
  </div>
</form>-->
</div>
<!-- end: SEARCH FORM -->
<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
  <span><%= t(:main_menu)%></span>
</div>

<ul class="main-navigation-menu">
  <li  <% if params[:controller] == 'blogs'%> <%= "class = active "%> <%end%>>
    <a href="/blogs">
      <div class="item-content">
        <div class="item-media">
          <i class=" ti-pencil-alt"></i>
        </div>
        <div class="item-inner">
            <% @blogflag = false%>
            <% @seekings = Seeking.where(user_id: current_user.id)%>
            <% for seeking in @seekings%>
              <% @v = Visit.where(user_id: current_user.id, visitable_id: seeking.blog_id , visitable_type: 'Blog').last%>
              <% if !seeking.blog.notes.blank? && !@v.blank?%>
              <% if seeking.blog.notes.last.created_at > @v.created_at%>
                <% @blogflag = true%>
              <%end%>
              <%end%>
              <% if @v.blank?%>
                <% @blogflag = true%>
              <%end%>
            <%end%>
          <span class="title"><%= t(:blogs)%></span>
          <% if @blogflag%>
            <span class='custom-dot'></span>
          <%end%>
        </div>
      </div>
    </a>
  </li>

  <li  <% if params[:controller] == 'channels'%> <%= "class = active "%> <%end%>>
    <a href="/channels">
      <div class="item-content">
        <div class="item-media">
          <i class=" ti-announcement"></i>
        </div>
        <div class="item-inner">
          <% @channelflag = false%>
          <% @involvements = Involvement.where(user_id: current_user.id)%>
          <% for involvement in @involvements%>
            <% @v = Visit.where(user_id: current_user.id, visitable_id: involvement.channel_id , visitable_type: 'Channel').last%>
            <% if !involvement.channel.comments.blank? && !@v.blank?%>
            <% if involvement.channel.comments.last.created_at > @v.created_at%>
              <% @channelflag = true%>
            <%end%>
            <%end%>
            <% if @v.blank?%>
              <% @channelflag = true%>
            <%end%>
            <%end%>
          <span class="title"><%= t(:channels)%></span>
          <% if @channelflag%>
            <span class='custom-dot'></span>
          <%end%>
        </div>
      </div>
    </a>
  </li>

  <li <% if params[:controller] == 'groups'%> <%= "class = active "%> <%end%>>
    <a href="/groups">
      <div class="item-content">
        <div class="item-media">
          <i class=" ti-face-smile"></i>
        </div>
        <div class="item-inner">
          <% @groupflag = false%>
          <% @groupings = Grouping.where(user_id: current_user.id)%>
          <% for grouping in @groupings%>
            <% @v = Visit.where(user_id: current_user.id, visitable_id: grouping.group_id , visitable_type: 'Group').last%>
            <% if !grouping.group.comments.blank? && !@v.blank?%>
            <% if grouping.group.comments.last.created_at > @v.created_at%>
              <% @groupflag = true%>
            <%end%>
            <%end%>
            <% if @v.blank?%>
              <% @groupflag = true%>
            <%end%>
            <%end%>
          <span class="title"><%= t(:groups)%></span>
          <% if @groupflag%>
            <span class='custom-dot'></span>
          <%end%>
        </div>
      </div>
    </a>
  </li>

  <li <% if params[:controller] == 'events'%> <%= "class = active "%> <%end%>>
    <a href="/events">
      <div class="item-content">
        <div class="item-media">
          <i class="ti-alarm-clock"></i>
        </div>
        <div class="item-inner">
          <% @eventflag = false%>
          <% @participations = Participation.where(user_id: current_user.id)%>
          <% for participation in @participations%>
            <% @v = Visit.where(user_id: current_user.id, visitable_id: participation.event_id , visitable_type: 'Event').last%>
            <% if !participation.event.comments.blank? && !@v.blank?%>
            <% if participation.event.comments.last.created_at > @v.created_at%>
              <% @eventflag = true%>
            <%end%>
            <%end%>
            <% if @v.blank?%>
              <% @eventflag = true%>
            <%end%>
            <%end%>
          <span class="title"><%= t(:events)%></span>
          <% if @eventflag%>
            <span class='custom-dot'></span>
          <%end%>
        </div>
      </div>
    </a>
  </li>

  <li <% if params[:controller] == 'questions'%> <%= "class = active "%> <%end%>>
    <a href="/questions">
      <div class="item-content">
        <div class="item-media">
          <i class="ti-help"></i>
        </div>
        <div class="item-inner">
          <% @qflag = false%>
          <% @followships = Followship.where(user_id: current_user.id, followable_type: 'Question')%>
          <% for followship in @followships%>
            <% @v = Visit.where(user_id: current_user.id, visitable_id: followship.followable_id , visitable_type: 'Question').last%>
            <% if !Question.find(followship.followable_id).answers.blank? && !@v.blank?%>
            <% if Question.find(followship.followable_id).answers.last.created_at > @v.created_at%>
              <% @qflag = true%>
            <%end%>
            <%end%>
            <% if @v.blank?%>
              <% @qflag = true%>
            <%end%>
            <%end%>
          <span class="title"><%= t(:qna)%></span>
          <% if @qflag%>
            <span class='custom-dot'></span>
          <%end%>
        </div>
      </div>
    </a>
  </li>

  <li <% if params[:controller] == 'projects'%> <%= "class = active "%> <%end%>>
    <a href="/projects">
      <div class="item-content">
        <div class="item-media">
          <i class="ti-marker"></i>
        </div>
        <div class="item-inner">
          <% @pflag = false%>
          <% @followships = Followship.where(user_id: current_user.id, followable_type: 'Project')%>
          <% for followship in @followships%>
            <% @v = Visit.where(user_id: current_user.id, visitable_id: followship.followable_id , visitable_type: 'Project').last%>
            <% if !Project.find(followship.followable_id).tasks.last.blank? && !@v.blank?%>
            <% if Project.find(followship.followable_id).tasks.last.created_at > @v.created_at%>
              <% @pflag = true%>
            <%end%>
            <%end%>
            <% if @v.blank?%>
              <% @pflag = true%>
            <%end%>
            <%end%>
          <span class="title"><%= t(:projects)%></span>
          <% if @pflag%>
            <span class='custom-dot'></span>
          <%end%>
        </div>
      </div>
    </a>
  </li>


  <li <% if params[:controller] == 'courses'%> <%= "class = active "%> <%end%>>
    <a href="/courses">
      <div class="item-content">
        <div class="item-media">
          <i class="ti-blackboard"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:courses)%></span>
        </div>
      </div>
    </a>
  </li>


  <li <% if params[:controller] == 'labs'%> <%= "class = active "%> <%end%>>
    <a href="/labs">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-flask"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:labs)%></span>
        </div>
      </div>
    </a>
  </li>

  <li <% if params[:controller] == 'goods'%> <%= "class = active "%> <%end%>>
    <a href="/goods">
      <div class="item-content">
        <div class="item-media">
          <i class="ti-shopping-cart"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:bazar)%></span>
        </div>
      </div>
    </a>
  </li>


    <li <% if params[:controller] == 'researches'%> <%= "class = active "%> <%end%>>
      <a href="/researches">
        <div class="item-content">
          <div class="item-media">
            <i class="fa fa-mortar-board"></i>
          </div>
          <div class="item-inner">
            <span class="title"><%= t(:researches)%></span>
          </div>
        </div>
      </a>
    </li>

    <li <% if params[:controller] == 'questionaires'%> <%= "class = active "%> <%end%>>
      <a href="/polls">
        <div class="item-content">
          <div class="item-media">
            <i class="fa fa-microphone"></i>
          </div>
          <div class="item-inner">
            <span class="title"><%= t(:questionaires)%></span>
          </div>
        </div>
      </a>
    </li>

  <li <% if params[:controller] == 'profiles'%> <%= "class = active "%> <%end%>>
    <a href="/profiles">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-user"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:pepole)%></span>
        </div>
      </div>
    </a>
  </li>
  <li <% if params[:controller] == 'messages'%> <%= "class = active "%> <%end%>>
    <a href="/messages">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-envelope-o"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:messages)%></span>
        </div>
      </div>
    </a>
  </li>
  <li class="">
    <a href="javascript:void(0)">
      <div class="item-content">
        <div class="item-media">
          <i class="ti-settings"></i>
        </div>
        <div class="item-inner">
          <span class="title"><%= t(:settings)%></span><i class="icon-arrow"></i>
        </div>
      </div>
    </a>
    <ul class="sub-menu" style="display: none;">
      <li>
        <% @ns = NotificationSetting.where(user_id: current_user.id).first%>
        <% if @ns.blank?%>
          <a href="/notification_settings/new">
          <%else%>
          <a href="/notification_settings/<%= @ns.id%>/edit">
          <%end%>
          <span><%= t(:notification_settings)%></span>
        </a>
      </li>
      <li>
        <% @pp = Privacypolicy.where(user_id: current_user.id).first%>
        <% if @pp.blank?%>
          <a href="/privacypolicies/new">
          <%else%>
          <a href="/privacypolicies/<%= @pp.id%>/edit">
          <%end%>
          <span><%= t(:privacypolicy)%></span>
        </a>
      </li>
      <li>
        <a href="/categories">
          <span><%= t(:categories_of_bazar)%></span>
        </a>
      </li>
      <li>
        <a href="/roles">
          <span><%= t(:roles)%></span>
        </a>
      </li>
      <li>
        <a href="/grantings">
          <span><%= t(:grantings)%></span>
        </a>
      </li>
      <li>
        <a href="/home/logs">
          <span><%= t(:logs)%></span>
        </a>
      </li>
      <li>
        <a href="/activities">
          <span><%= t(:activity_list)%></span>
        </a>
      </li>
      <li>
        <a href="/abuses">
          <span><%= t(:abuse_types)%></span>
        </a>
      </li>
      <li>
        <a href="/reportabuses">
          <span><%= t(:abuse_reports)%></span>
        </a>
      </li>
      <% if grant_access('show_graph', current_user)%>
      <li>
        <a href="/home/graph?channel=true&group=true&event=true&question=true&project=true&offering=true&lab=true">
          <span><%= t(:graph)%></span>
        </a>
      </li>
      <%end%>
    </li>
  </ul>
</nav>
</div>
</div>
