
<!DOCTYPE html>
<!-- Template Name: Clip-Two - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
	<title>شعاع</title>
	<!-- start: META -->
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta content="" name="description" />
	<meta content="" name="author" />

	<% stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<script src="/assets/jdate.min.js"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<!-- end: GOOGLE FONTS -->
	<!-- start: MAIN CSS -->

	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-rtl.min.css">
	<link rel="stylesheet" href="/assets/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/themify-icons/themify-icons.min.css">
	<link href="/assets/animate.css/animate.min.css" rel="stylesheet" media="screen">
	<link href="/assets/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
	<link href="/assets/switchery/switchery.min.css" rel="stylesheet" media="screen">
	<!-- end: MAIN CSS -->
	<!-- start: CLIP-TWO CSS -->
	<link rel="stylesheet" href="/assets/styles.css">
	<link rel="stylesheet" href="/assets/plugins.css">
	<link rel="stylesheet" href="/assets/themes/theme-1.css"/>

	<link href="/assets/video-js.min.css" rel="stylesheet">
	<link href="/assets/bootstrap-editable.css" rel="stylesheet">
	<link href="/assets/jquery.counter-analog.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/jquery.Jcrop.min.css"/>
	<link rel="stylesheet" href="/assets/rtl.css"/>
	<link rel="stylesheet" href="/assets/jquery.upvote.css"/>
	<link rel="stylesheet" href="/assets/bootstrap-tokenfield.css"/>
	<link rel="stylesheet" href="/assets/tokenfield-typeahead.css"/>
	<link rel="stylesheet" href="/assets/gantt.css"/>
	<link rel="stylesheet" href="/assets/jquery-ui.css"/>
	<link rel="stylesheet" href="/assets/notifIt.css"/>



	<%= csrf_meta_tags %>
</head>
<body>
	<div id="app">
		<!-- sidebar -->
		<%= render :partial => "layouts/sidebar"%>
		<!-- / sidebar -->
		<div class="app-content">
			<!-- start: TOP NAVBAR -->
			<%= render :partial => "layouts/header"%>
			<!-- end: TOP NAVBAR -->
			<div class="main-content" >

				<%= yield %>

			</div>
		</div>
		<%= render :partial => "layouts/footer"%>
	</div>
	<% if params[:controller] == 'channels' || params[:controller] == 'groups' || params[:controller] == 'events'%>
	<script src="/assets/jquery/jquery.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<%end%>
	<script src="/assets/modernizr/modernizr.js"></script>
	<script src="/assets/jquery-cookie/jquery.cookie.js"></script>
	<script src="/assets/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="/assets/switchery/switchery.min.js"></script>
	<script src="/assets/ckeditor/ckeditor.js"></script>
	<script src="/assets/ckeditor/adapters/jquery.js"></script>
	<script src="/assets/form-text-editor.js"></script>
	<script src="/assets/jquery.Jcrop.min.js"></script>
	<script src="/assets/jquery.ui.widget.js"></script>
	<script src="/assets/jquery.fileupload.js"></script>
	<script src="/assets/jquery.fileupload-image.js"></script>
	<script src="/assets/jquery.fileupload-process.js"></script>
	<script src="/assets/pages-messages.js"></script>
	<script src="/assets/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="/assets/bootstrap-editable.min.js"></script>
	<script src="/assets/jquery.counter.js"></script>
	<script src="/assets/sn.js"></script>
	<script src="/assets/summernote.js"></script>
	<script src="/assets/bootstrap-tokenfield.js"></script>
	<script src="/assets/d3.v3.min.js"></script>
	<script src="/assets/gantt-chart-d3.js"></script>
	<!-- end: MAIN JAVASCRIPTS -->
	<!-- start: CLIP-TWO JAVASCRIPTS -->
	<script src="/assets/main.js"></script>
	<!-- start: JavaScript Event Handlers for this page -->
	<script>
	jQuery(document).ready(function() {
		Main.init();
		TextEditor.init();
		Messages.init();

	});
	</script>

<% if !notice.blank?%>
	<script>
	$( document ).ready(function() {
		notif({
			msg: "<%=t notice%>",
			type: "info"
		});
	});
	</script>
	<%end%>
</body>
</html>
